<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DOCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../css/front.css">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DOCHA</a>
			</h1>
			<div class="top">
				<button class="btn-toggle">강남구 논현동</button>
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		

		<div class="sub-container500">
			
			<div class="common-date">
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
			</div>
			
			
			<h2 class="h2"><span><em>총 0건</em></span></h2>
			
			<div class="no-quo">
				<p>찾으시는 차량이 없으신가요?<br>견적을 요청해 차량을 예약하세요!</p>
				<button class="btn-quo">견적 요청</button>
			</div>
		</div>


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="../../img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-3355</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">
					(주) 카썸모빌리티 서울시 강남구 논현로79길 73 <br class="mobile">대표이사 : 하호선 Tel : 1661-3355 Fax : 02-2266-3519<br>
사업자등록번호 : 201-86-20184 <br class="mobile">통신판매업신고 : 제2012-서울중구-0357호 <br class="mobile">Email : help@DOCHA.com
					<p>Copyright ⓒDOCHA Mobility Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

