<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DOCHA</a>
			</h1>
			<div class="top">
				<button class="btn-toggle">강남구 논현동</button>
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		

		<div class="sub-container500">
			
			<div class="common-date">
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
			</div>
			
			<p class="tit1">대여방법 <span class="normal">(중복선택가능)</span></p>
			<ul class="checkbox-list">
				<li><label><input type="checkbox" class="text-radio"><span>지점방문</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>배달대여</span></label></li>
			</ul>
			
			<p class="tit1">차량</p>
			<ul class="checkbox-list">
				<li><label><input type="checkbox" class="text-radio"><span>경차</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>소형</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>중형</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>대형</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>SUV</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>승합</span></label></li>
			</ul>
			
			<p class="tit1">옵션</p>
			<ul class="checkbox-list">
				<li><label><input type="checkbox" class="text-radio"><span>네비게이션</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>파노라마썬루프</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>썬루프</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>열선핸들</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>열선시트</span></label></li>
			</ul>
			<p class="tit1">옵션</p>
			<div class="mb10">
				<select class="select" style="width:100%">
					<option>원하는 브랜드를 선택하세요.</option>
				</select>
			</div>
			<div class="mb30">
				<button class="btn-item">현대</button>
				<button class="btn-item">벤츠</button>
				<button class="btn-item">폭스바겐</button>
			</div>
			
			
			<p class="tit1">출고 연식</p>
			<div class="mb30">
				<ul class="checkbox-list">
					<li><label><input type="checkbox" class="text-radio"><span>2020</span></label></li>
					<li><label><input type="checkbox" class="text-radio"><span>2019</span></label></li>
					<li><label><input type="checkbox" class="text-radio"><span>2018</span></label></li>
					<li><label><input type="checkbox" class="text-radio"><span>2017</span></label></li>
				</ul>
			</div>
			<p class="tit1">기타 상세 요청사항</p>
			<div class="mb30">
				<textarea class="textarea" style="width:100%;height:130px" placeholder="디테일한 차종, 사용 목적 등을 적어주세요!"></textarea>
			</div>
			<div class="bottom-area">
				<button class="btn-type1 bg-blue2 block">견적 적용</button>
			</div>
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

