<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">
		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container500">
			
			<div class="common-date">
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
			</div>
			
			
			<h2 class="h2"><span><em>총 0건</em></span></h2>
			
			<div class="no-quo">
				<p>찾으시는 차량이 없으신가요?<br>견적을 요청해 차량을 예약하세요!</p>
				<button class="btn-quo">견적 요청</button>
			</div>
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

