<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container328">
			<div class="payment-wrap">
				<div class="detail-info-box">
					

					<div class="fr">
						<div class="pay">
							<dl>
								<dt>차량대여료</dt>
								<dd>150,000원/월</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>왕복 배달료</dt>
								<dd>무료</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>자차보험료</dt>
								<dd>100,000원</dd>
							</dl>
							<hr class="hr2">
							<dl class="total">
								<dt><b clas="blue">총 금액</b></dt>
								<dd><b>1,150,000원 / 월</b></dd>
							</dl>
							<div class="total-desc">
								1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원
							</div>
							<hr class="hr1">

<!--							<h3 class="h3"><span><em>할인</em></span></h3>-->

<!--							<dl class="mb10">-->
<!--								<dt>쿠폰할인</dt>-->
<!--							</dl>-->
<!--							<div class="list-btns delete-type mb15">-->
<!--								<ul>-->
<!--									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>-->
<!--									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							-->
<!--							<dl class="mb10">-->
<!--								<dt>이용쿠폰</dt>-->
<!--							</dl>-->
<!--							<div class="list-btns delete-type mb15 used">-->
<!--								<ul>-->
<!--									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>-->
<!--									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							-->
<!--							<dl class="mb10">-->
<!--								<dt>이용 불가 쿠폰</dt>-->
<!--							</dl>-->
<!--							<div class="list-btns delete-type mb15 disabled">-->
<!--								<ul>-->
<!--									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>-->
<!--									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>-->
<!--								</ul>-->
<!--							</div>-->

<!--							<dl class="mb10">-->
<!--								<dt>포인트</dt>-->
<!--							</dl>-->
<!--							<div class="list-btns">-->
<!--								<ul>-->
<!--									<li><a href="#"><strong>GS& POINT</strong><span>100,000P</span></a></li>-->
<!--									<li><a href="#"><strong>L-POINT</strong><span>20,000P</span></a></li>-->
<!--								</ul>-->
<!--							</div>-->
							<hr class="hr1">
							<dl class="payment-price">
								<dt><b>최종 결제 금액</b></dt>
								<dd><b>150,000원</b></dd>
							</dl>
							
							<div class="card-slider">
							<div class="slider mb30">
								<div class="swiper-container">
									<div class="swiper-pagination"></div>
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
									</div>
									<!-- Add Pagination -->
									<!-- Add Arrows -->
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
							
							
							<div class="bottom-area btn-box">
								<button onclick="paymentComplete()" class="btn-type1 bg-blue2 block over">등록카드 결제</button>
								<button onclick="paymentComplete()" class="btn-type1 bg-blue block over">일반결제</button>
							</div>
							<script>
								function paymentComplete() {
									location.href="/user/payment/complete.do"
								}
							</script>
						</div>
					</div>
					<!-- // fr -->
				</div>
			<!-- // detail-info-box -->
			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

