<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DOCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../css/front.css">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DOCHA</a>
			</h1>
			<div class="top">
				결제
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		
		<div class="sub-container328">
			<div class="payment-wrap">
				<div class="detail-info-box">
					

					<div class="fr">
						<div class="pay">
							<dl>
								<dt>차량대여료</dt>
								<dd>150,000원/월</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>왕복 배달료</dt>
								<dd>무료</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>자차보험료</dt>
								<dd>100,000원</dd>
							</dl>
							<hr class="hr2">
							<dl class="total">
								<dt><b clas="blue">총 금액</b></dt>
								<dd><b>1,150,000원 / 월</b></dd>
							</dl>
							<div class="total-desc">
								1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원
							</div>
							<hr class="hr1">

							<h3 class="h3"><span><em>할인</em></span></h3>

							<dl class="mb10">
								<dt>쿠폰할인</dt>
							</dl>
							<div class="list-btns delete-type mb15">
								<ul>
									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>
									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>
								</ul>
							</div>
							
							<dl class="mb10">
								<dt>이용쿠폰</dt>
							</dl>
							<div class="list-btns delete-type mb15 used">
								<ul>
									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>
									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>
								</ul>
							</div>
							
							<dl class="mb10">
								<dt>이용 불가 쿠폰</dt>
							</dl>
							<div class="list-btns delete-type mb15 disabled">
								<ul>
									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>
									<li><a href="#"><strong>설날 특가 5000원 할인쿠폰</strong></a></li>
								</ul>
							</div>

							<dl class="mb10">
								<dt>포인트</dt>
							</dl>
							<div class="list-btns">
								<ul>
									<li><a href="#"><strong>GS& POINT</strong><span>100,000P</span></a></li>
									<li><a href="#"><strong>L-POINT</strong><span>20,000P</span></a></li>
								</ul>
							</div>
							<hr class="hr1">
							<dl class="payment-price">
								<dt><b>최종 결제 금액</b></dt>
								<dd><b>150,000원</b></dd>
							</dl>
							
							<div class="card-slider">
							<div class="slider mb30">
								<div class="swiper-container">
									<div class="swiper-pagination"></div>
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
									</div>
									<!-- Add Pagination -->
									<!-- Add Arrows -->
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
							
							
							<div class="bottom-area btn-box">
								<button class="btn-type1 bg-blue2 block over">등록카드 결제</button>
								<button class="btn-type1 bg-blue block over">일반결제</button>
							</div>
						</div>
					</div>
					<!-- // fr -->
				</div>
			<!-- // detail-info-box -->
			</div>
		</div>

		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="../../img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

