<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../css/front.css">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DUCHA</a>
			</h1>
			<div class="top">
				결제완료
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		
		

		<div class="sub-container1060">
			<h2 class="h2"><span><em>결제완료</em></span></h2>
			<div class="car-list type2">
				
				<div class="body">
					<ul>
						<li>
							<div class="status clear mb5">
								<div class="fl"><p class="label-txt type1">예약완료</p></div>
								<div class="fr txt1 gray">예약일시 2020-12-12 19:43</div>								
							</div>
							<a href="#">
								<div class="loc">
									<span>두차렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="../../img/common/tmp1.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span class="blue2">지점방문</span>
										<span class="green">자차포함</span>
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="common-date">
									<div class="date">
										01월 30일 (목) <strong>18:00</strong>
									</div>
									<div class="date">
										01월 30일 (목) <strong>18:00</strong>
									</div>
								</div>
								<div class="price pay-type"><!-- 결제에선 pay-type 클래스 추가 -->
									<div class="pay">
										<dl>
											<dt>결제금액</dt>
											<dd>
												<strong>10,000,000원</strong>
											</dd>
										</dl>
										<p class="desc">1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원</p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- // car-list -->
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

