<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container328">
			<div class="payment-wrap">
				<div class="detail-info-box">
					

					<div class="fr">
						<div class="pay">
							<dl>
								<dt>차량대여료</dt>
								<!--<dd>150,000원/월</dd>-->
								<dd id="dailyStandardPay"></dd>
							</dl>
							<hr class="hr2">




							<div th:if="${preParam.mmRentFee == '0'}">
								<dl>
									<dt>왕복 배달료</dt>
									<dd id="dayDeliveryPay"></dd>
								</dl>
								<hr class="hr2">
								<dl>
									<dt>자차보험료</dt>
									<dd id="dayInsurancePay">무료</dd>
								</dl>
								<hr class="hr2">
								<dl class="total">
									<dt><b clas="blue">총 금액</b></dt>
									<dd id="dayTotalPay"><b></b></dd>
								</dl>
								<hr class="hr1">
								<dl class="payment-price">
									<dt><b>최종 결제 금액</b></dt>
									<b>
										<dd id="dayFinalPayment"></dd>
									</b>
								</dl>
							</div>













							<div th:if="${preParam.mmRentFee != '0'}">
								<dl>
									<dt>왕복 배달료</dt>
									<dd id="monthDeliveryPay">무료</dd>
								</dl>
								<hr class="hr2">
								<dl>
									<dt>자차보험료</dt>
									<dd>무료</dd>
								</dl>
								<hr class="hr2">
								<dl>
									<dt>보증금</dt>
									<dd id="deposit"></dd>
								</dl>
								<p class="red">*보증금은 렌터카 업체에서 직접 수령하며 차량 반납시 되돌려 드립니다.</p>
								<hr class="hr2">
								<dl class="total">
									<dt><b clas="blue">총 금액</b></dt>
									<dd id="monthTotalFee"><b></b></dd>
								</dl>
								<div class="total-desc">
									<p id="monthTotalFeeExplan"></p>
									<p  id="monthTotalFeeExplan2"></p>

								</div>

								<hr class="hr1">
								<dl class="payment-price">
									<dt><b>최종 결제 금액</b></dt>
									<b>
										<dd id="monthFinalPayment"></dd>
									</b>
								</dl>

							</div>







<!--							<dl>-->
<!--								<dt>왕복 배달료</dt>-->
<!--								&lt;!&ndash; <dd>무료</dd>&ndash;&gt;-->
<!--								<dd id="">무료</dd>-->
<!--							</dl>-->
<!--							<hr class="hr2">-->
<!--							<dl>-->
<!--								<dt>자차보험료</dt>-->
<!--								&lt;!&ndash; <dd>100,000원</dd> &ndash;&gt;-->
<!--								<dd id="insuranceCopayment"></dd>-->
<!--							</dl>-->
<!--							<hr class="hr2">-->
<!--							<dl class="total">-->
<!--								<dt><b clas="blue">총 금액</b></dt>-->
<!--								&lt;!&ndash; <dd id="dailyStandardPay"><b>1,150,000원 / 월</b></dd> &ndash;&gt;-->
<!--								<dd id="totalPay"><b></b></dd>-->
<!--							</dl>-->
<!--							<div class="total-desc">-->
<!--								1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원-->
<!--							</div>-->
<!--							<hr class="hr1">-->
<!--							<dl class="payment-price">-->
<!--								<dt><b>최종 결제 금액</b></dt>-->
<!--								&lt;!&ndash; <dd id="paymentSum"><b>150,000원</b></dd> &ndash;&gt;-->
<!--								<dd id="paymentSum"></dd>-->
<!--							</dl>-->












							
							<div class="card-slider">
							<div class="slider mb30">
								<div class="swiper-container">
									<div class="swiper-pagination"></div>
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="card">
												<img src="../../img/common/tmp_card.png">
												<p class="bank">우리은행</p>
												<div class="number">
													<strong>0000-0000-0000-0000</strong>
													<p>00년00월</p>
												</div>
											</div>
										</div>
									</div>
									<!-- Add Pagination -->
									<!-- Add Arrows -->
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
						</div>
							
							
							<div class="bottom-area btn-box">
								<!-- <button onclick="payment()" class="btn-type1 bg-blue2 block over">등록카드 결제</button> -->
								<button onclick="paymentBilling()" class="btn-type1 bg-blue2 block over">정기결제</button>
								<button onclick="payment()" class="btn-type1 bg-blue block over">일반결제</button>
							</div>
							<script>
								function paymentComplete() {
									location.href="/user/payment/complete.do"
								}
								function paymentComplete() {
									location.href="/user/payment/complete.do"
								}
							</script>
						</div>
					</div>
					<!-- // fr -->










				</div>
			<!-- // detail-info-box -->
			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script th:inline="javascript">
	var preParam = /*[[${preParam}]]*/ '0';

	var TOTAL_SUM = 0;

	var GOODS_NAME; //상품명
	var BUYER_EMAIL; //주문자 이메일
	var BUYER_TEL; //주문자 연락처
	var BUYER_ADDR; //주문자 주소
	var BUYER_POSTCODE; //주문자 우편번호
	var BUYER_NAME; //주문자 명
	var CUSTOMER_ID; //주문자 명

	var rentStartDt      = preParam.rentStartDt;
	var rentEndDt      = preParam.rentEndDt;

	var rentFee      = preParam.calcRentFee;
	var mmRentFee      = preParam.mmRentFee;
	var mmLastRentFee  = preParam.mmLastRentFee;
	var calcDisRentFee = preParam.calcDisRentFee;
	var deliveryTypeCode = preParam.deliveryTypeCode;
	var totalPay  = preParam.totalPay;
	var deliveryStandardPay  = preParam.deliveryStandardPay;
	var insuranceFee = parseInt(totalPay) -  parseInt(calcDisRentFee);

	var deposit  = preParam.deposit;
	var monthly = Math.floor(calcDisRentFee / mmRentFee);
	if (calcDisRentFee === mmRentFee && calcDisRentFee === 0 ) {
		monthly = 0;
	}
	var ceilMonthly = Math.ceil(calcDisRentFee / mmRentFee);

	// 월요금 보증금, 요금 정보.
	$('#deposit').text(numberFormat(deposit) + '원');
	$('#monthFinalPayment').text(numberFormat(totalPay) + '원');
	$('#monthTotalFee').text(numberFormat(totalPay) + '원');

	// 일요금 보증금, 요금 정보.
	if ( deliveryTypeCode == 'OF') {
		$('#dayDeliveryPay').text('무료');
	} else {
		$('#dayDeliveryPay').text(numberFormat(deliveryStandardPay) + '원');
	}
	$('#dayTotalPay').text(numberFormat(totalPay) + '원');
	$('#dayFinalPayment').text(numberFormat(totalPay) + '원');
	$('#dayInsurancePay').text(numberFormat(insuranceFee) + '원');


	if ( monthly == ceilMonthly) {
		$('#monthTotalFeeExplan').text(numberFormat(mmRentFee) + '원 X ' + monthly + '개월');
		$('#monthTotalFeeExplan2').text(' 총 ' + numberFormat(calcDisRentFee) + ' 원');
	} else {
		$('#monthTotalFeeExplan').text(numberFormat(mmRentFee) + '원 X ' + monthly + '개월 + 마지막 월 ' + numberFormat(mmLastRentFee) + '원');
		$('#monthTotalFeeExplan2').text(' 총 ' + numberFormat(calcDisRentFee) + ' 원');
	}

$(document).ready(function () {
	
	//var preParam = [[${preParam}]];
	//차량정보를 조회하여 화면에 가격 설정
	var crIdx = [[${preParam.crIdx}]];
	let reqParam = {
		'crIdx': crIdx
		, 'rentMonth': monthly
		, 'mmRentFee': mmRentFee
		, 'mmLastRentFee': mmLastRentFee
		, 'calcDisRentFee': calcDisRentFee
		, 'rentFee': rentFee
		, 'insuranceFee': insuranceFee
		, 'deliveryTypeCode': deliveryTypeCode
	};
	$.ajax({
	    type: "POST",
	    url: "/user/paymentInfo.json",
	    dataType: 'json',
	    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	    data : reqParam,
	    async: false,
	    success: function (res) {
	    },error:function(request,status,error){
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	        alert("차량데이터 조회 중 오류가 발생했습니다. 잠시 후 다시 시도 해 주십시오");
	    }
	})
	.done(function (res) {
		console.log(res);
		//조회데이터 중 구매자 정보 설정
		setPaymentUserInfo(res.user);
		//조회데이터 중 차량정보로 가격정보 노출
		drawView(res.resCarDto);
	});
})

function drawView(res){
	//결제 상품명 설정
	GOODS_NAME = res.modelName + " " + res.modelDetailName;
	
	//일별 대여금액 셋팅
	let dailyStandardPay = isNumeric(res.dailyStandardPay) == true ? res.dailyStandardPay : 0;
	//보험료 셋팅
	let insuranceCopayment = isNumeric(res.insuranceCopayment) == true ? res.insuranceCopayment : 0;
	
	//일별대여금액 + 보험료로 결제금액 설정
	TOTAL_SUM = totalPay;
	
	//화면에 결제정보 보여줌
	$("#dailyStandardPay").text(numberFormat(calcDisRentFee) + '원');
	$("#insuranceCopayment").text(numberFormat(insuranceCopayment) + '원');
    $("#totalPay").text(numberFormat(totalPay) + '원');
    $("#paymentSum").text(numberFormat(totalPay) + '원');
    console.log(TOTAL_SUM);
	
}

function setPaymentUserInfo(user){
	BUYER_EMAIL = user.userId; //유저아이디로 메일정보 설정
	BUYER_TEL = user.userContact1;
	BUYER_ADDR = user.userAddress + user.userAddressDetail;
	BUYER_POSTCODE = user.userZipCode;
	BUYER_NAME = user.userName;
	CUSTOMER_ID = user.urIdx; //아임포트 빌링키 발급을 위한 CUSTOMER_ID 설정
}

//아임포트 결제창 호출 //일반
function payment(){
	var IMP = window.IMP; // 생략가능
	IMP.init('imp68389175');

	IMP.request_pay({
	    pg : 'kakao', // version 1.1.0부터 지원.
	    pay_method : 'card',
	    merchant_uid : 'merchant_' + new Date().getTime(),
	    name : GOODS_NAME,
	    amount : TOTAL_SUM,
	    buyer_email : BUYER_EMAIL,
	    buyer_name : BUYER_NAME,
	    buyer_tel : BUYER_TEL,
	    buyer_addr : BUYER_ADDR,
	    buyer_postcode : BUYER_POSTCODE
	}, function(rsp) {
	    if ( rsp.success ) {
	        var msg = '결제가 완료되었습니다.';
	        msg += '고유ID : ' + rsp.imp_uid;
	        msg += '상점 거래ID : ' + rsp.merchant_uid;
	        msg += '결제 금액 : ' + rsp.paid_amount;
	        msg += '카드 승인번호 : ' + rsp.apply_num;
	        alert(msg);
	        paymentSave(rsp.imp_uid, "/user/paymentSave.json");

	    } else {
	        var msg = '결제에 실패하였습니다.';
	        msg += '에러내용 : ' + rsp.error_msg;
	        alert(msg);
	    }
	    
	});
}


//아임포트 결제창 호출 //정기결제 빌링키 발급
function paymentBilling(){
	var IMP = window.IMP; // 생략가능
	IMP.init('imp68389175');

	IMP.request_pay({
		pg : 'kakao',
		merchant_uid : 'merchant_' + new Date().getTime(),
		pay_method: "card",
		name : '최초인증결제',
		amount : 0, // 빌링키 발급만 진행하며 결제승인을 하지 않습니다.
		customer_uid : CUSTOMER_ID, //customer_uid 파라메터가 있어야 빌링키 발급이 정상적으로 이뤄집니다.
		buyer_email : BUYER_EMAIL,
		buyer_name : BUYER_NAME,
		buyer_tel : BUYER_TEL
	}, function(rsp) {
		console.log(rsp);
		if ( rsp.success ) {
			alert('빌링키 발급 성공, 정기결제 처리를 시작합니다');
			paymentSave(null, "/user/paymentSaveSchedule.json");
		} else {
			alert('빌링키 발급 실패');
		}
	});
}


//결제 후 주문저장 및 검증
function paymentSave(impUid, url){
	
	//결제할 개월수, 차후 결제개월에 따라 변동되도록 수정 필요(정기결제에만 사용)
	let rentMonth = ceilMonthly;
	
	//파라미터로 아임포트 결제 key를 전달
	let reqParam = {
		'impUid': impUid
		, 'rentMonth': monthly
		, 'mmRentFee': mmRentFee
		, 'mmLastRentFee': mmLastRentFee
		, 'calcDisRentFee': calcDisRentFee
		, 'rentFee': rentFee
		, 'insuranceFee': insuranceFee
	};
	
	$.ajax({
	    type: "POST",
	    url: url,
	    dataType: 'json',
	    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	    data : reqParam,
	    async: false,
	    success: function (res) {
			alert("예약이 완료되었습니다");
			location.href = "/user/payment/complete.do";

	    },error:function(request,status,error){
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	        alert("결제 중 오류가 발생했습니다, 잠시 후 다시 시도 해 주시기 바랍니다");
	    }
	})
	
}


function numberFormat(inputNumber) {
    return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function isNumeric(num, opt){
  // 좌우 trim(공백제거)을 해준다.
	num = String(num).replace(/^\s+|\s+$/g, "");
	 
	if(typeof opt == "undefined" || opt == "1"){
  		// 모든 10진수 (부호 선택, 자릿수구분기호 선택, 소수점 선택)
		var regex = /^[+\-]?(([1-9][0-9]{0,2}(,[0-9]{3})*)|[0-9]+){1}(\.[0-9]+)?$/g;
	}else if(opt == "2"){
    	// 부호 미사용, 자릿수구분기호 선택, 소수점 선택
		var regex = /^(([1-9][0-9]{0,2}(,[0-9]{3})*)|[0-9]+){1}(\.[0-9]+)?$/g;
	}else if(opt == "3"){
		 // 부호 미사용, 자릿수구분기호 미사용, 소수점 선택
		var regex = /^[0-9]+(\.[0-9]+)?$/g;
	}else{
		// only 숫자만(부호 미사용, 자릿수구분기호 미사용, 소수점 미사용)
		var regex = /^[0-9]$/g;
	}
 
	if( regex.test(num) ){
 		num = num.replace(/,/g, "");
		return isNaN(num) ? false : true;
	}else{ return false;  }
}

</script>
	

</body>
</html>

