<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>

<div id="wrap">

	<!-- top menu -->
	<div th:replace="top_menu :: topMenu"></div>

	<div class="sub-container1060">
		<div class="rent-detail-wrap">
			<div class="head">
				<div class="loc">
					<span id="companyName"></span>
					<span id="branchName"></span>
				</div>
				<div class="label-txt type1" th:if="${reserveInfo[0].reserveStatusCode == '예약'}">예약완료</div>
				<div class="fl" th:if="${reserveInfo[0].reserveStatusCode == '대여중'}"><p class="label-txt type3">대여중</p></div>
				<div class="fl" th:if="${reserveInfo[0].reserveStatusCode == '취소요청'}"><p class="label-txt type5">취소요청</p></div>
				<div class="fl" th:if="${reserveInfo[0].reserveStatusCode == '취소'}"><p class="label-txt type4">취소완료</p></div>
				<div class="fl" th:if="${reserveInfo[0].reserveStatusCode == '반납'}"><p class="label-txt type2">반납완료</p></div>
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img id="carImg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<!--
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            -->
					</div>
				</div>

				<div class="info">
					<p class="name"
						 id="carModelInfo"></p>
					<p class="opt1"
						 id="carPropertyInfo"></p>
					<p class="opt2" id="carOptionDiv">
					</p>
				</div>
			</div>
			<hr class="hr1">

			<div class="detail-info-box">
				<div class="fl">
					<h3 class="h3"><span><em>상세정보</em></span></h3>
					<div class="rent-schedule-common" style="display: block;">
						<div class="req-tit">
							<p class="tit1">기간 및 위치</p>
						</div>
						<div class="schedule-time mb25">
							<dl class="first">
								<dt>대여</dt>
								<dd>
									<p class="date" id="qt_startDay">2020.02.11 화 05:50</p>
								</dd>
							</dl>
							<dl>
								<dt>반납</dt>
								<dd>
									<p class="date" id="qt_endDay">2020.02.11 화 05:50</p>
								</dd>
							</dl>
						</div>
						<div class="req-tit">
							<p class="tit1 mb5">방법</p>
							<div class="pull-right">
								<a class="btn-type3 btn-xs txt-blue" onclick="locationMap()" style="cursor:pointer;"><i class="ico-map"></i>지도보기</a>
							</div>
						</div>
						<ul class="checkbox-list mb25">
							<li th:if="${reserveInfo[0].deliveryTypeCode == 'OF'}"><label><input type="checkbox" class="text-radio" accept=""
																																									 checked onclick="return(false);" name="deliveryTypeCode" value="OF"><span>지점방문</span></label></li>
							<li th:if="${reserveInfo[0].deliveryTypeCode == 'DL'}"><label><input type="checkbox" class="text-radio" accept=""
																																									 checked onclick="return(false);" name="deliveryTypeCode" value="DL"><span>배달대여</span></label></li>
						</ul>

						<p class="tit1 mb5">위치</p>
						<p class="txt1 mb25" id="companyAddress"><br></p>

						<p class="tit1">종합보험<span class="red">(만 26세 이상 대여 가능)</span></p>
						<div class="table1">
							<table>
								<colgroup>
									<col style="width:33%">
									<col style="width:33%">
									<col style="width:33%">
								</colgroup>
								<thead>
								<tr>
									<th>대인</th>
									<th>대물</th>
									<th>자손</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td id="personalCover"></td>
									<td id="propertyDamageCover"></td>
									<td id="onselfDamageCover"></td>
								</tr>
								</tbody>
							</table>
						</div>

						<p class="tit1">주행거리제한</p>
						<div class="table1">
							<table>
								<colgroup>
									<col style="width:50%">
									<col style="width:50%">
								</colgroup>
								<thead>
								<tr>
									<th>1일</th>
									<th>1개월</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>300km</td>
									<td>3,000km</td>
								</tr>
								</tbody>
							</table>
						</div>

						<hr class="hr1">

						<h3 class="h3"><span><em>운전자정보</em></span></h3>
						<div class="tit1">제1운전자(예약자)</div>
						<div class="txt-box1">
							<dl>
								<dt>이름</dt>
								<dd id="userName"></dd>
							</dl>
							<dl>
								<dt>휴대폰번호</dt>
								<dd id="userPhone"></dd>
							</dl>
							<dl>
								<dt>생년월일</dt>
								<dd id="userBirth">1980-09-09</dd>
							</dl>
						</div>

						<div th:if="${reserveInfo[0].secondDriverName != ''}">
						<div class="tit1">제2운전자</div>
						<div class="txt-box1">
							<dl>
								<dt>이름</dt>
								<dd id="secondUserName"></dd>
							</dl>
							<dl>
								<dt>휴대폰번호</dt>
								<dd id="secondUserContact"></dd>
							</dl>
							<dl>
								<dt>생년월일</dt>
								<dd id="secondBirth"></dd>
							</dl>
						</div>
						</div>
						<hr class="hr1">
					</div>
				</div>
				<!-- // fl -->

				<div class="fr">
					<h3 class="h3"><span><em>결제정보</em></span></h3>
					<div class="pay">
						<div th:if="${reserveInfo[0].longTermYn == 'ST'}">
							<dl>
								<dt>차량대여료</dt>
								<dd id="rentFee"></dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>왕복 배달료</dt>
								<dd id="deliveryPay"></dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>자차보험료</dt>
								<dd id="insuranceFee">
									<p class="desc gray" id="carDamageCover"></p>
								</dd>
							</dl>
							<hr class="hr2">
							<dl class="total mb10">
								<dt>총 금액</dt>
								<dd id="dayRentFee">10,000원</dd>
							</dl>
							<dl class="total mb10">
								<dt>할인 금액</dt>
								<dd id="dayDiscountFee">10,000원</dd>
							</dl>
							<dl class="payment-price mb10" th:if="${reserveInfo[0].reserveStatusCode != '취소'}">
								<dt><b>결제 금액</b></dt>
								<dd id="dayCalcRentFee"><b>150,000원</b></dd>
							</dl>
						</div>


						<div th:if="${reserveInfo[0].longTermYn == 'LT'}">
							<dl>
								<dt>차량대여료</dt>
								<dd id="monthRentFee"></dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>왕복 배달료</dt>
								<dd id="monthDeliveryPay"></dd>
								<dd>무료</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>자차보험료</dt>
								<dd>무료</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>보증금</dt>
								<dd id="deposit"></dd>
							</dl>
							<p class="red">*보증금은 렌터카 업체에서 직접 수령하며 차량 반납시 되돌려 드립니다.</p>
							<hr class="hr2">
							<dl class="total">
								<dt><b clas="blue">총 금액</b></dt>
								<dd id="monthTotalFee"><b></b></dd>
							</dl>
							<div class="total-desc">
								<p id="monthTotalFeeExplan"></p>
								<p  id="monthTotalFeeExplan2"></p>
							</div>

							<hr class="hr2">
							<dl class="total mb10">
								<dt>할인액</dt>
								<dd id="monthDiscountFee"></dd>
							</dl>
							<hr class="hr2">
							<dl class="payment-price" th:if="${reserveInfo[0].reserveStatusCode != '취소'}">
								<dt><b>결제 금액</b></dt>
								<b>
									<dd id="monthFinalPayment"></dd>
								</b>
							</dl>
							<div class="red mb10" id="payCount"></div>
							<div class="payment-desc">
								<p class="gray" id="monthFinalPaymentExplan"></p>
								<p class="gray" id="monthFinalPaymentExplan2"></p>
								<p class="red" id="monthPayExplan">*2회차 납부 부터는 매월 대여일 기준으로 등록 카드로 납부됩니다.</p>
							</div>
						</div>

						<dl class="payment-price mb10" th:if="${reserveInfo[0].reserveStatusCode == '취소'}">
							<dt><b class="red">취소 금액</b></dt>
							<dd id="CancelRentFee"><b></b></dd>
						</dl>

						<div class="text-right mb15" th:if="${reserveInfo[0].reserveStatusCode == '취소' && reserveInfo[0].cancelAmount != '0'}">
							<a th:href="${reserveInfo[0].receiptUrl}"> <button class="btn-type3 btn-xs txt-blue red">취소전표</button></a>

						</div>

						<div class="text-right mb15" th:if="${reserveInfo[0].receiptUrl != ''}">
							<a th:href="${reserveInfo[0].receiptUrl}"> <button class="btn-type3 btn-xs txt-blue"
				th:if="${reserveInfo[0].reserveStatusCode == '예약' || reserveInfo[0].reserveStatusCode == '대여중' ||
				reserveInfo[0].reserveStatusCode == '반납'}">카드전표</button></a>

						</div>


						<div class="mb20">
							<button class="btn-type3 btn-m red block" onclick="cancelPay()" th:if="${reserveInfo[0].reserveStatusCode == '예약'}">취소요청</button>
						</div>

						<div class="bottom-area btn-box">
							<button id="btnExtensionPayment" class="btn-type1 bg-blue2" th:if="${reserveInfo[0].reserveStatusCode == '예약' || reserveInfo[0].reserveStatusCode == '대여중'}"
											onclick="extensionDay()">연장신청</button>
							<button id="btnReview" class="btn-type1 bg-blue">후기작성</button>
						</div>
					</div>
				</div>
				<!-- // fr -->
			</div>
			<!-- // detail-info-box -->
		</div>
		<!-- // 차량상세 -->

	</div>


	<div th:replace="footer :: footer"></div>
</div>

<script>
		src="https://code.jquery.com/jquery-3.3.1.min.js";
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=";
		crossorigin="anonymous"
</script><!-- jQuery CDN --->



<script th:inline="javascript">
	var preParam = /*[[${preParam}]]*/ '0';
	var rmIdx = preParam.rmIdx;
	var crIdx;
	var deliveryTypeCode;
	var mylocation;
	var companyAddress;
	var merchantUid;
	var userName;
	var distotalFee;
	var sumPaymentAmount;


	var rentStartDay;
	var rentStartTime;
	var rentEndDay;
	var rentEndTime;
	var modDt;
	var longTermYn;


	let reqParam = {
		'rmIdx' : rmIdx
	};

	$.ajax({
		type: "POST",
		url: "/user/payment/complete.json",
		dataType: 'json',
		contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		data : reqParam,
		async: false,
		success: function (res) {
		}
	}). done(function (res) {
		var reserveInfo = res.reserveInfo[0];
		deliveryTypeCode = reserveInfo.deliveryTypeCode;
		mylocation = reserveInfo.deliveryAddr;
		companyAddress = reserveInfo.deliveryAddr;
		merchantUid = reserveInfo.merchantUid;
		userName = reserveInfo.firstDriverName;
		sumPaymentAmount = reserveInfo.sumPaymentAmount;

		rentStartDay = reserveInfo.rentStartDay;
		rentStartTime = reserveInfo.rentStartTime;
		rentEndDay = reserveInfo.rentEndDay;
		rentEndTime = reserveInfo.rentEndTime;
		modDt = reserveInfo.modDt;
		longTermYn = reserveInfo.longTermYn;

		var optionDetailCode = nullCheck(reserveInfo.optionDetailCode);
		var optionList = '';

		if (!optionDetailCode == '' && optionDetailCode.indexOf(',') != -1) {
			optionList = optionDetailCode.split(',');
		}
		var carOptionDiv = '';
		if (deliveryTypeCode === 'OF') {
			carOptionDiv +=    '          										<span class="blue2"> 지점방문 </span>';
		} else {
			carOptionDiv +=    '          										<span class="red">배달대여</span>';
		}

		if( optionList.length > 0 ){
			for( var i=0; i<optionList.length; i++ ){
				carOptionDiv +=   '<span>' + optionList[i] + '</span>';
			}
		}else{
			carOptionDiv +=  				optionDetailCode;
		}
		$('#carOptionDiv').append(carOptionDiv);



		$('#CancelRentFee').text(numberFormat(reserveInfo.cancelAmount) + '원');
		// 유저 정보
		$('#userName').text(reserveInfo.firstDriverName);
		$('#userPhone').text(reserveInfo.firstDriverContact);
		$('#userBirth').text(reserveInfo.reserveUserBirthday);


		// 면허 정보
		$('#licenseCode').text(reserveInfo.licenseCode);
		$('#licenseNumber').text(reserveInfo.licenseNumber);
		$('#licenseExpiration').text(reserveInfo.licenseExpiration);
		$('#licenseIssueDT').text(reserveInfo.licenseLocation + ' ' + reserveInfo.licenseIssueDt);

		document.getElementById("carImg").src="https://admin.docha.co.kr/img/car/" + reserveInfo.imgIdx;
		//
		$('#companyName').text(reserveInfo.companyName);
		$('#branchName').text(reserveInfo.branchName);
		$('#carModelInfo').text(reserveInfo.year + ' ' + reserveInfo.modelName + ' ' + reserveInfo.modelDetailName);
		$('#carPropertyInfo').text(reserveInfo.fuelCode + ' / ' + reserveInfo.colorName + ' / ' + numberFormat(reserveInfo.mileage) + 'km');


		var week = ['일', '월', '화', '수', '목', '금', '토'];
		var startWeek = week[new Date(reserveInfo.rentStartDay).getDay()];
		var endWeek = week[new Date(reserveInfo.rentEndDay).getDay()];
		$('#qt_startDay').text(rentStartDay + ' ' + startWeek + ' ' + rentStartTime);
		$('#qt_endDay').text(reserveInfo.rentEndDay + ' ' + endWeek + ' ' + reserveInfo.rentEndTime);

		$('#companyAddress').text(reserveInfo.deliveryAddr);

		$('#personalCover').text(numberFormat(reserveInfo.personalCover));
		$('#propertyDamageCover').text(numberFormat(reserveInfo.propertyDamageCover));
		$('#onselfDamageCover').text(numberFormat(reserveInfo.onselfDamageCover));

		$('dd>#carDamageCover').text('(고객 면책금 ' + numberFormat(reserveInfo.carDamageCover) + ')원');

		// 일대여 인 경우
		// var disCountFee = parseInt(reserveInfo.rentFee) - parseInt(reserveInfo.discountFee);
		var disCountFee = reserveInfo.discountFee;
		$('#rentFee').text(numberFormat(reserveInfo.rentFee) + '원');

		$('#insuranceFee').text(numberFormat(reserveInfo.insuranceFee) + '원');
		$('#deliveryPay').text(numberFormat(reserveInfo.deliveryFee) + '원');

		var totalFee = parseInt(reserveInfo.rentFee) + parseInt(reserveInfo.insuranceFee) + parseInt(reserveInfo.deliveryFee);
		$('#dayRentFee').text(numberFormat(totalFee) + '원');
		$('#dayDiscountFee').text(numberFormat(disCountFee) + '원');

		distotalFee = reserveInfo.sumPaymentAmount;
		$('#dayCalcRentFee').text(numberFormat(distotalFee) + '원');


		$('#deposit').text(numberFormat(reserveInfo.carDeposit) + ' 원');

		// 월대여 인 경우
		if ( reserveInfo.totalPayCount > 1  ) {
			$('#monthRentFee').text(numberFormat(reserveInfo.monthlyFee) + '원/월');
			$('#monthTotalFee').text(numberFormat(reserveInfo.paymentTotalAmount) + ' 원');

			// 마지막 결제 금액이 다른 경우
			if (parseInt(reserveInfo.paymentTotalAmount % reserveInfo.monthlyFee) > 0) {
				var totalPaycount = reserveInfo.totalPayCount;
				var presentPaycount = reserveInfo.payCount;
				if ( reserveInfo.balance === 0 ) {
					presentPaycount = presentPaycount - 1;
				}

				totalPaycount = parseInt(totalPaycount) - 1;
				$('#monthTotalFeeExplan').text(numberFormat(reserveInfo.monthlyFee) + '원 X ' + totalPaycount  + '개월 + 마지막 월 ' + numberFormat(reserveInfo.paymentTotalAmount %reserveInfo.monthlyFee) + '원');
				$('#monthTotalFeeExplan2').text(' 총 ' + numberFormat(reserveInfo.paymentTotalAmount) + ' 원');


				$('#monthFinalPayment').text(numberFormat(reserveInfo.sumPaymentAmount) + '원');
				$('#payCount').text('(총 ' + reserveInfo.totalPayCount + '회차 중 ' + reserveInfo.payCount +'회차 납부)');
				$('#monthFinalPaymentExplan').text(numberFormat(reserveInfo.monthlyFee) + '원 X ' + presentPaycount  + '개월 + 마지막 월 ' + numberFormat(reserveInfo.paymentTotalAmount %reserveInfo.monthlyFee) + '원');
				$('#monthFinalPaymentExplan2').text(' 총 ' + numberFormat(reserveInfo.sumPaymentAmount) + ' 원');

				$('#monthDiscountFee').text(numberFormat(reserveInfo.discountFee) + '원');
			}
			// 마지막 결제 금액이 월 금액과 같은 경우
			else {
				var totalPaycount = reserveInfo.totalPayCount;
				$('#monthTotalFeeExplan').text(numberFormat(reserveInfo.monthlyFee) + '원 X ' + totalPaycount  + '개월');
				$('#monthTotalFeeExplan2').text(' 총 ' + numberFormat(reserveInfo.paymentTotalAmount) + ' 원');

				$('#monthFinalPayment').text(numberFormat(reserveInfo.sumPaymentAmount) + '원');
				$('#payCount').text('(총 ' + reserveInfo.totalPayCount + '회차 중 ' + reserveInfo.payCount +'회차 납부)');
				$('#monthFinalPaymentExplan').text(numberFormat(reserveInfo.monthlyFee) + '원 X ' + reserveInfo.payCount  + '개월');
				$('#monthFinalPaymentExplan2').text(' 총 ' + numberFormat(reserveInfo.sumPaymentAmount) + ' 원');

				$('#monthDiscountFee').text(numberFormat(reserveInfo.discountFee) + '원');
			}
		}

		else {
			$('#monthRentFee').text(numberFormat(reserveInfo.paymentTotalAmount) + ' 원');
			$('#monthTotalFee').text(numberFormat(reserveInfo.paymentTotalAmount) + ' 원');
			$('#monthTotalFee').text(numberFormat(reserveInfo.paymentTotalAmount) + ' 원');
			$('#monthFinalPayment').text(numberFormat(reserveInfo.sumPaymentAmount) + ' 원');
			$('#monthPayExplan').text('');
			$('#monthDiscountFee').text(numberFormat(reserveInfo.discountFee) + '원');
		}

		if ( longTermYn === 'LT') {
			Date.prototype.yyyymmdd = function(){
				var yyyy = this.getFullYear().toString();
				var mm = (this.getMonth() + 1).toString();
				var dd = this.getDate().toString();

				var nowTime = yyyy +(mm[1] ? mm : mm[0])+(dd[1] ? dd : '0'+dd[0] +'0000');
				return nowTime
			};

			var nowTime = (new Date).yyyymmdd();
			var endTime = rentEndDay.substring(0,4) + rentEndDay.substring(5,7) + rentEndDay.substring(8,10) + rentEndTime.substring(0,2) + rentEndTime.substring(3,5);

			var responseTime = setDateTimeDiff( nowTime, endTime);
			if ( responseTime[0] >= 1) {
				document.getElementById("btnExtensionPayment").style.display = "none";
			}
		}

		$('#btnReview').click(function () {
			location.href="/user/payment/review.do?rmIdx="+rmIdx;
		})
		
	});

	function locationMap() {
		var $form = $('<form method="post"></form>');

		$form.attr('action', "/user/carSearch/location.do");
		$form.attr('method', 'post');
		$form.attr('contentType', 'application/x-www-form-urlencoded');

		deliveryTypeCode  = $('<input type="hidden" value="' + deliveryTypeCode + '" name="deliveryTypeCode">');
		myLocation  = $('<input type="hidden" value="' + mylocation + '" name="myLocation">');
		companyAddress  = $('<input type="hidden" value="' + companyAddress + '" name="companyAddress">');

		$form.append(myLocation);
		$form.append(deliveryTypeCode);
		$form.append(companyAddress);

		$form.appendTo('body');
		$form.submit();

	}

	function numberFormat(inputNumber) {
		return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	function cancelPay() {
		var totalPayCount;
		var cancelPercent = 1;
		var cancelPay;
		var rentalTime = new Date(rentStartDay +"T"+ rentStartTime);	// 대여 시작 시간
		var reserveTime = new Date(modDt);			// 예약 한 시간
		var now = new Date();
		var reserveMinute;
		var rentalMinute;

		Date.parse(reserveTime);
		Date.parse(rentalTime);

			var nowTime = now.getTime();
			reserveTime = reserveTime.getTime();
			rentalTime = rentalTime.getTime();

		  var reserveSec =parseInt(nowTime - reserveTime) / 1000;
		  reserveMinute = parseInt(reserveSec/60);

			var rentalSec =parseInt(rentalTime - nowTime) / 1000;
			rentalMinute = parseInt(rentalSec/60);

		//	console.log("예약 시간 : " + reserveMinute + " 분 전,  대여 시간 : " + rentalMinute + " 분 후 " );

		// 예약 후 1시간이 넘은 경우
		if ( reserveMinute > 60) {
			// 이미 대여 중이면
			if ( longTermYn === 'ST') {		// 일대여 일 경우
				if ( rentalMinute < 1440 ) {	// 대여 시간이 24시간보다 많이 남았으면
						cancelPercent = 0.9;

						// 대여시간 1시간 이후에 요청 할 경우
						if ( rentalMinute < -60 ) {
							cancelPercent = 0.5;
						}
				}
			}
			else {											// 월대여 인 경우
				if ( rentalMinute < 2880 ) {
					cancelPercent = 0.95;
					if ( rentalMinute < 1440 ) {
						cancelPercent = 0.9;
						if ( rentalMinute < 600 ) {
							cancelPercent = 0.85;
							if ( rentalMinute < -60) {
								cancelPercent = 0.5;
							}
						}
					}
				}
			}
		}

		let reqParam = {
			rmIdx
		};

		$.ajax({
			type: "POST",
			url: "/user/payment/complete.json",
			dataType: 'json',
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			data : reqParam,
			async: false,
			success: function (res) {
			}
		}). done(function (res) {
			sumPaymentAmount = res.reserveInfo[0].sumPaymentAmount;
			totalPayCount = res.reserveInfo[0].totalPayCount;
		});

		cancelPay = sumPaymentAmount * cancelPercent;

			// 취소 페널티가 없을 시 ( 100% 환불 ) 바로 환불
			if (cancelPercent === 1) {
				if (confirm("취소 시 환불 예정 금액은 " + numberFormat(cancelPay) + "원 입니다. 취소 하시겠습니까?")) {
					jQuery.ajax({
						"url": "/payments/cancel",
						"type": "POST",
						"contentType": "application/json",
						"data": JSON.stringify({
							"merchant_uid": merchantUid, // 주문번호
							"cancel_request_amount": cancelPay, // 환불금액
							"reason": "사용자에 의한 환불", // 환불사유
							"rmIdx": rmIdx, // 예약 Idx
							"cancelType": "immediately", // 취소 타입
							"totalPayCount": totalPayCount // 총 회차
						}),
						"dataType": "json",
						success: function (res) {
							alert("환불이 완료되었습니다.");
							location.reload();
						},
						error: function (err) {
							alert("취소요청 할 수 없습니다. 회원사에게 문의하세요");
						}
					});
				}
			}
			// 취소 페널티가 있을 시 취소 요청
			else {
				if (confirm("회원사에게 취소 요청을 보냅니다. 환불 예정 금액은 " + numberFormat(cancelPay) + "원 입니다. 취소요청 하시겠습니까?")) {
					jQuery.ajax({
						"url": "/payments/cancel",
						"type": "POST",
						"contentType": "application/json",
						"data": JSON.stringify({
							"merchant_uid": merchantUid, // 주문번호
							"cancel_request_amount": cancelPay, // 환불금액
							"refund_holder": userName, // [가상계좌 환불시 필수입력] 환불 수령계좌 예금주
							"reason": "사용자에 의한 환불", // 환불사유
							"refund_bank": "88", // [가상계좌 환불시 필수입력] 환불 수령계좌 은행코드(ex. KG이니시스의 경우 신한은행은 88번)
							"refund_account": "56211105948400", // [가상계좌 환불시 필수입력] 환불 수령계좌 번호
							"rmIdx": rmIdx, // 예약 Idx
							"cancelType": "request", // 취소 타입
							"totalPayCount": totalPayCount // 총 회차
						}),
						"dataType": "json",
						success: function (res) {
							alert("취소 요청이 완료되었습니다. 회원사가 수락하면 환불이 완료됩니다.");
							location.reload();
						}
					});
				}
			}



	}

	function extensionDay() {
		var $form = $('<form method="post"></form>');

		$form.attr('action', "/user/payment/extensionDay.do");
		$form.attr('method', 'post');
		$form.attr('contentType', 'application/x-www-form-urlencoded');

		rmIdx = $('<input type="hidden" value="' + rmIdx + '" name="rmIdx">');
		crIdx = $('<input type="hidden" value="' + crIdx + '" name="crIdx">');

		$form.append(rmIdx);
		$form.append(crIdx);

		$form.appendTo('body');
		$form.submit();

	}


	function setDateTimeDiff(_stDateTime , _endDateTime){

		var _stDateTime = _stDateTime;
		var _endDateTime = _endDateTime;

		var stYYYY = _stDateTime.substring(0,4);
		var stMM = _stDateTime.substring(4,6);
		var stDD = _stDateTime.substring(6,8);
		var stHour = _stDateTime.substring(8,10);
		var stMin = _stDateTime.substring(10,12);
		var setStDate = stYYYY+'/'+stMM+'/'+stDD+ ' ' + stHour+':'+stMin;
		var stDateTime = new Date(setStDate);

		var endYYYY = _endDateTime.substring(0,4);
		var endMM = _endDateTime.substring(4,6);
		var endDD = _endDateTime.substring(6,8);
		var endHour = _endDateTime.substring(8,10);
		var endMin = _endDateTime.substring(10,12);
		var setEndDate = endYYYY+'/'+endMM+'/'+endDD+ ' ' + endHour+':'+endMin;
		var endDateTime = new Date(setEndDate);


		var rtValue = [];
		var month_valid = false;
		var day_valid = false;
		var is_same_day = false;
		var hour_valid = false;
		var min_valid = false;
		var start_is_lastDay_valid = false;
		var end_is_lastDay_valid = false;

		var startYear = stDateTime.getFullYear();
		var startMonth = stDateTime.getMonth();
		var startDate = stDateTime.getDate();
		var startHours = stDateTime.getHours();
		var startMinute = stDateTime.getMinutes();

		var endYear = endDateTime.getFullYear();
		var endMonth = endDateTime.getMonth();
		var endDate = endDateTime.getDate();
		var endHours = endDateTime.getHours();
		var endMinute = endDateTime.getMinutes();

		is_same_day = endDate == startDate ? true : false;

		// 마지막날은 30일 이하여야함 ( 28~30 ) 카썸정책
		var dayOfLast = Number(( new Date( endYear, endMonth+1, 0) ).getDate()) != 31 ? 30 : Number(( new Date( endYear, endMonth+1, 0) ).getDate());
		var startDate_dayOfLast = Number(( new Date( startYear, startMonth+1, 0) ).getDate());
		var endDate_dayOfLast = Number(( new Date( endYear, endMonth+1, 0) ).getDate());

		// 시간 차이 계산 => 밀리세컨드
		var diffMs = (endDateTime.getTime() - stDateTime.getTime());
		// 밀리세컨드를 date 객체로
		var timeGap = new Date(0,0,0,0,0,0,diffMs);

		var setMonth = Math.floor(( diffMs / ( 86400000  * 30))); // 개월
		var setDay = Math.floor(( diffMs % ( 86400000  * 30)) / (1000*60*60*24)); // 일수
		var setTime = Math.floor(diffMs/(1000*60*60)) % 24;
		var setMinute = Math.floor(diffMs/(1000*60)) % 60;

		//console.log("월 : " + setMonth +"\n일 : " + setDay + "\n 시간 : " + setTime + "\n 분 : " + setMinute + "\n 마지막일 : " + startDate_dayOfLast );

		rtValue.push(setMonth);
		rtValue.push(setDay);
		rtValue.push(setTime);
		rtValue.push(setMinute);

		return rtValue;
	}
</script>
</body>
</html>

