<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DOCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../css/front.css">
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DOCHA</a>
			</h1>
			<div class="top">
				<button class="btn-toggle">강남구 논현동</button>
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		
		

		<div class="sub-container1060">
			<div class="rent-detail-wrap">
				<div class="head">
					<div class="loc">
						<span>두차렌터카</span>
						<span>양재역점</span>
					</div>
					<div class="grade">
						<em style="width:80%"></em>
					</div>
					<div class="label-txt type1">예약완료</div>
					<div class="slider-box">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="../../img/common/tmp_detail.jpg"></div>
								<div class="swiper-slide"><img src="../../img/common/tmp_detail.jpg"></div>
								<div class="swiper-slide"><img src="../../img/common/tmp_detail.jpg"></div>
								<div class="swiper-slide"><img src="../../img/common/tmp_detail.jpg"></div>
							</div>
							<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
							<!-- Add Arrows -->
							<!--
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
							-->
						</div>
					</div>
					
					<div class="info">
						<p class="name">2014 BMW 520D</p>
						<p class="opt1">디젤 / 남색 / 50,000km</p>
						<p class="opt2">
							<span class="blue2">지점방문</span>
							<span class="green">자차포함</span>
							<span>블랙박스</span>
							<span>후방카메라</span>
							<span>통풍시트</span>
						</p>
					</div>
				</div>
				<hr class="hr1">
				
				<div class="detail-info-box">
					<div class="fl">
						<h3 class="h3"><span><em>상세정보</em></span></h3>
						<div class="rent-schedule-common" style="display: block;">
							<div class="req-tit">
								<p class="tit1">기간 및 위치</p>
							</div>
							<div class="schedule-time mb25">
								<dl class="first">
									<dt>대여</dt>
									<dd>
										<p class="date">2020.02.11 화 05:50</p>
									</dd>
								</dl>
								<dl>
									<dt>반납</dt>
									<dd>
										<p class="date">2020.02.11 화 05:50</p>
									</dd>
								</dl>
							</div>
							<div class="req-tit">
								<p class="tit1 mb5">방법</p>
								<div class="pull-right">
									<a href="#" class="btn-type3 btn-xs txt-blue"><i class="ico-map"></i>지도보기</a>
								</div>
							</div>
							<ul class="checkbox-list mb25">
								<li><label><input type="checkbox" class="text-radio"><span>지점방문</span></label></li>
								<li><label><input type="checkbox" class="text-radio" checked=""><span>배달대여</span></label></li>
							</ul>

							<p class="tit1 mb5">위치</p>
							<p class="txt1 mb25">부산광역시 강서구 녹산산단382로14번가길 10~29번지<br>(송정동)</p>
							
							<p class="tit1">종합보험<span class="red">(만 26세 이상 대여 가능)</span></p>
							<div class="table1">
								<table>
									<colgroup>
										<col style="width:33%">
										<col style="width:33%">
										<col style="width:33%">
									</colgroup>
									<thead>
										<tr>
											<th>대인</th>
											<th>대물</th>
											<th>자손</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>무한</td>
											<td>20,000,000원</td>
											<td>15,000,000원</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<p class="tit1">주행거리제한</p>
							<div class="table1">
								<table>
									<colgroup>
										<col style="width:50%">
										<col style="width:50%">
									</colgroup>
									<thead>
										<tr>
											<th>1일</th>
											<th>1개월</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>300km</td>
											<td>3,000km</td>
										</tr>
									</tbody>
								</table>
							</div>

							
							<hr class="hr1">

							<h3 class="h3"><span><em>운전자정보</em></strong></h3>
							<div class="tit1">제1운전자(예약자)</div>
							<div class="txt-box1">
								<dl>
									<dt>이름</dt>
									<dd>홍길동</dd>
								</dl>
								<dl>
									<dt>휴대폰번호</dt>
									<dd>010-1234-5678</dd>
								</dl>
								<dl>
									<dt>생년월일</dt>
									<dd>1980-09-09</dd>
								</dl>
							</div>

							<div class="tit1">제2운전자</div>
							<div class="txt-box1">
								<dl>
									<dt>이름</dt>
									<dd>홍길동</dd>
								</dl>
								<dl>
									<dt>휴대폰번호</dt>
									<dd>010-1234-5678</dd>
								</dl>
								<dl>
									<dt>생년월일</dt>
									<dd>1980-09-09</dd>
								</dl>
							</div>
							<hr class="hr1">
						</div>
					</div>
					<!-- // fl -->

					<div class="fr">
						<h3 class="h3"><span><em>결제정보</em></span></h3>
						<div class="pay">
							<dl>
								<dt>차량대여료</dt>
								<dd>150,000원/월</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>왕복 배달료</dt>
								<dd>무료</dd>
							</dl>
							<hr class="hr2">
							<dl>
								<dt>자차보험료</dt>
								<dd>무료
									<p class="desc gray">(고객 면책금 1,000,000원)</p>
								</dd>
							</dl>
							<hr class="hr2">
							<dl class="mb5">
								<dt>보증금</dt>
								<dd>100,000,000 원</dd>
							</dl>
							<p class="red">*보증금은 렌터카 업체에서 직접 수령하며 차량 반납시 되돌려 드립니다.</p>
							
							<hr class="hr2">
							
							<dl class="total">
								<dt><b clas="blue">총 금액</b></dt>
								<dd><b>1,150,000원</b></dd>
							</dl>
							<div class="total-desc">
								1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원
							</div>
							<hr class="hr2">
							
							<dl class="total mb10">
								<dt>할인액</dt>
								<dd>10,000원</dd>
							</dl>
							<hr class="hr2">
							<dl class="payment-price mb0">
								<dt><b>결제 금액</b></dt>
								<dd><b>150,000원</b></dd>
							</dl>
							<div class="red mb10">(총 11회차 중 2회차 납부)</div>
							
							<div class="payment-desc mb10">
								<p class="gray">1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원</p>
								<p class="red">*2회차 납부 부터는 매월 대여일 기준으로 등록 카드로 납부됩니다.</p>
							</div>
							
							<div class="text-right mb15">
								<button class="btn-type3 btn-xs txt-blue">카드전표</button>
								
							</div>
							
							
							<div class="mb20">
								<button class="btn-type3 btn-m red block">취소요청</button>
							</div>
							<div class="bottom-area btn-box">
								<button class="btn-type1 bg-blue2">연장신청</button>
								<button class="btn-type1 bg-blue">후기작성</button>
							</div>
						</div>
					</div>
					<!-- // fr -->
				</div>
				<!-- // detail-info-box -->
			</div>
			<!-- // 차량상세 -->
			
		</div>


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="../../img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

