<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>

<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container1060">
			<h2 class="h2"><span><em>결제완료</em></span></h2>
			<div class="car-list type2">
				
				<div class="body">
					<ul>
						<li>
							<div class="status clear mb5">
								<div class="fl"><p class="label-txt type1">예약완료</p></div>
								<div class="fr txt1 gray">예약일시 2020-12-12 19:43</div>								
							</div>
							<a href="#">
								<div class="loc">
									<span>두차렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="../../img/common/tmp1.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span class="blue2">지점방문</span>
										<span class="green">자차포함</span>
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="common-date">
									<div class="date">
										01월 30일 (목) <strong>18:00</strong>
									</div>
									<div class="date">
										01월 30일 (목) <strong>18:00</strong>
									</div>
								</div>
								<div class="price pay-type"><!-- 결제에선 pay-type 클래스 추가 -->
									<div class="pay">
										<dl>
											<dt>결제금액</dt>
											<dd>
												<strong>10,000,000원</strong>
											</dd>
										</dl>
										<p class="desc">1,150,000원 X 10개월 + 마지막 월 300,000원<br>총 11,800,000 원</p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- // car-list -->
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

