<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container328">
			<div class="pw-tit"><img src="../img/common/logo_black.png" style="height: 20px">
				<p><strong>＇홍길동＇</strong> 님의 아이디</p>
			</div>
			
			<p class="tit1 blue1 mb5">ID(이메일)</p>
			<div class="myid">shin@mobility-k.com</div>
			
			<div class="youok"><img src="../img/common/img_car.png"><p>이제 로그인하여<br>차량을 예약하실 수 있습니다!</p></div>
			
			
			<div class="bottom-area col2">
				<button class="btn-type1 bg-blue2 block" >저장</button>
				<a class="btn-type1 bg-blue block" href="/user/find_pw.do" >비밀번호 찾기</a>
			</div>
		</div>

		<div th:replace="footer :: footer"></div>

	</div>

</body>
</html>

