<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>

	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div th:if="${dochaUserInfoDto != null}" class="sub-container328">
			<div class="pw-tit"><img src="../../../img/common/logo_black.png" style="height: 20px">
				<p><strong th:text="${dochaUserInfoDto.userName}"></strong> 님의 아이디</p>
			</div>

			<p class="tit1 blue1 mb5">ID(이메일)</p>
			<div class="myid" th:text="${dochaUserInfoDto.userId}"></div>

			<div class="youok"><img src="../../../img/common/img_car.png"><p>이제 로그인하여<br>차량을 예약하실 수 있습니다!</p></div>


			<div class="bottom-area col2">
				<button class="btn-type1 bg-blue2 block" onclick="location.href = '/user/login.do'">저장</button>
				<button class="btn-type1 bg-blue block text-center" onclick="findPwPage()">비밀번호 찾기</button>
			</div>
		</div>

		<div th:replace="footer :: footer"></div>

	</div>
<script th:inline="javascript">

	var errMsg = /*[[${errMsg}]]*/'';
	if (!isEmpty(errMsg)){
		alertify.alert(errMsg).set('onok', function (closeEvent) {
			location.href = '/user/signup.do'
		});
	}

	var dochaUserInfoDto = /*[[${dochaUserInfoDto}]]*/'';
	function findPwPage() {
		location.href = '/user/find_pw/'+ dochaUserInfoDto.userDupInfo;

	}
</script>
</body>
</html>

