<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>

<div id="wrap">

  <!-- top menu -->
  <div th:replace="top_menu :: topMenu"></div>

  <div class="sub-container328">
    <div class="pw-tit"><img src="../../../img/common/logo_black.png" style="height: 20px">
      <p><strong id="userName"></strong> 님의 아이디</p>
    </div>

    <p class="tit1 blue1 mb5">ID(이메일)</p>
    <div class="myid" id="userId"></div>

    <div class="youok"><img src="../../../img/common/img_car.png">
      <p>이제 로그인하여<br>차량을 예약하실 수 있습니다!</p></div>


    <div class="bottom-area col2">
      <button class="btn-type1 bg-blue2 block" onclick="location.href = '/user/login.do'">로그인</button>
      <button class="btn-type1 bg-blue block text-center" onclick="findPwPage()">비밀번호 찾기</button>
    </div>
  </div>

  <div th:replace="footer :: footer"></div>

</div>
<script th:inline="javascript">
    // url 에서 parameter 추출
    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        params = params.split("&");

        for (var i = 0; i < params.length; i++) {
            var temp = params[i].split("=");
            if (temp[0] === sname) return temp[1];
        }

        return '';
    }

    let userId = decodeURI(getParam('userId'));
    let userName = decodeURI(getParam('userName'));

    if (userId === '') {
        alert("존재하지 않는 사용자 입니다. 회원가입을 먼저 해 주세요.");
        location.href = '/user/signup.do';
    } else {
        $('#userName').text(userName);
        $('#userId').text(userId);
    }

    function findPwPage() {
        location.href = '/user/find_pw.do';
    }

</script>
</body>
</html>

