<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead">
</head>
<body>

<div id="wrap">

    <!-- top menu -->
    <div th:replace="top_menu :: topMenu"></div>

    <div class="sub-container1060">
        <div class="mypage">
            <div class="head">
                <div class="welcome">
                    <p>반갑습니다.</p>
                    <strong id="userName"></strong>
                </div>
                <div class="btns">
                    <!--<a href="#" class="b1">견적확인</a>-->
                    <a href="/user/payment/completeDetail.do" class="b2">결제확인</a>
                    <a href="/question_confirm.do" class="b3">문의확인</a>
                </div>
            </div>
            <div class="body">
                <div class="myinfo">
                    <hr class="hr3">
                    <h3 class="h3"><strong><span>내정보</span></strong>
                        <div class="pull-right">
                            <button class="btn-type3 btn-xs txt-blue">
                                <a href="javascript:fnPopup();">내정보 수정</a>
                            </button>
                        </div>
                    </h3>
                    <div class="txt-box1">
                        <dl>
                            <dt>이름</dt>
                            <dd id="userName_2"></dd>
                        </dl>
                        <dl>
                            <dt>휴대폰번호</dt>
                            <dd id="userContact"></dd>
                        </dl>
                        <dl>
                            <dt>생년월일</dt>
                            <dd id="userBirth"></dd>
                        </dl>
                    </div>
                </div>

                <div class="myinfo licenseInfo">
                    <hr class="hr3">

                    <h3 class="h3"><strong><span>면허정보</span></strong>
                        <div class="pull-right">
                            <button class="btn-type3 btn-xs txt-blue" id="registLicense">면허등록&변경</button>
                        </div>
                    </h3>
                    <div class="txt-box1"><!--<img src="/static/img/common/img_license.png">-->
                        <dl>
                            <dt>면허 코드</dt>
                            <dd id="licenseCode"></dd>
                        </dl>
                        <dl>
                            <dt>면허 번호</dt>
                            <dd id="licenseNumber"></dd>
                        </dl>
                        <dl>
                            <dt>적성검사 만료일</dt>
                            <dd id="licenseExpiration"></dd>
                        </dl>
                        <dl>
                            <dt>발급일</dt>
                            <dd id="licenseIssueDT"></dd>
                        </dl>
                    </div>
                </div>
            </div>
<!--
                <div class="mycard">
                    <hr class="hr3">
                    <h3 class="h3">
                        <strong><span>결제카드</span></strong>
                        <div class="pull-right">
                            <button class="btn-type3 btn-xs txt-blue" id="registCard">신규카드 등록</button>
                        </div>
                    </h3>
                    <div class="card-slider">
                        <div class="slider">
                            <div class="swiper-container">
                                <div class="swiper-pagination swiper-pagination-fraction"></div>
                                <div class="swiper-wrapper" id="cardList"></div>
                                <div class="swiper-button-next" id="btnNext"></div>
                                <div class="swiper-button-prev" id="btnPrev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btns" id="">
                        <button class="btn-type3 btn-xs txt-blue">보이는 카드를 결제카드로 등록</button>
                        <button class="btn-type3 btn-xs txt-blue" id="deleteCard">보이는 카드 등록 삭제</button>
                    </div>
                </div>
-->
            </div>
        </div>
    </div>

    <div th:replace="footer :: footer"></div>
</div>

<!-- 본인인증 서비스 팝업을 호출하기 위해서는 다음과 같은 form이 필요합니다. -->
<form name="form_chk" method="post">
    <input type="hidden" name="m" value="checkplusService">                <!-- 필수 데이타로, 누락하시면 안됩니다. -->
    <input type="hidden" name="EncodeData" th:value="${sEncData}">         <!-- 위에서 업체정보를 암호화 한 데이타입니다. -->
</form>

<script th:inline="javascript">
    /*<![CDATA[*/
    var urIdx = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.principal.urIdx}]]*/'default';

/*
    function refreshSwiper() {
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction',
            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    }
*/

    $(document).ready(function () {
        userInfo();
        licenseInfo();
        //cardInfo();

        $('#registLicense').on('click', function () {
            location.href = "/user/license.do";
        });
/*
        $('#registCard').on('click', function () {
            location.href = "/user/card.do";
        });
*/
    });

    function userInfo() {
        var url = '/user/mypage/userInfo.do';
        var data = {
            urIdx: urIdx
        }
        $.ajax({
            type: "post",
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            //async:false,
            success: function (res) {
                //var data = res.userInfo;
                $('#userName').text(res.userInfo.userName + ' 회원님!');
                $('#userName_2').text(res.userInfo.userName);
                $('#userContact').text(res.userInfo.userContact1);
                $('#userBirth').text(res.userInfo.userBirthday);
                //location.href = "/login";
            }, error: function () {
            }
        });
    }

    function licenseInfo() {
        var url = '/user/mypage/licenseInfo.do';
        var data = {
            urIdx: urIdx
        }
        $.ajax({
            type: "post",
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            //async:false,
            success: function (res) {
                var data = res.licenseInfo;
                $('#licenseCode').text(data.licenseCode);
                $('#licenseNumber').text(data.licenseLocation + '-' + data.licenseNumber);
                $('#licenseExpiration').text(data.licenseExpiration);
                $('#licenseIssueDT').text(data.licenseIssueDt);
                //location.href = "/login";
            }, error: function () {
            }
        });
    }

/*
    function cardInfo() {
        var url = '/user/mypage/cardInfo.do';
        var data = {
            urIdx: urIdx
        }

        $.ajax({
            type: "post",
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            async: false,
            success: function (res) {
                var data = res.cardInfo;
                var strOption = '';
                for (var i = 0; i < data.length; i++) {
                    strOption += '<div class="swiper-slide">';
                    strOption += '<div class="card" id="' + data[i].cardNumber + '">';
                    strOption += '<img src="/static/img/common/tmp_card.png">';
                    strOption += '<p class="bank" >' + data[i].bankName + '</p>';
                    strOption += '<div class="number">';
                    strOption += '<strong>' + data[i].cardNumber + '</strong>';
                    strOption += '<p>' + data[i].cardExpiration + '</p>';
                    strOption += '</div>';
                    strOption += '</div>';
                    strOption += '</div>';
                }

                $('#cardList').append(strOption);
                $('#deleteCard').on('click', function () {
                    deleteCard();
                });
            }, error: function (err) {
                console.log(err);
                console.log("error");
            }
        });

        refreshSwiper();
    }

    function deleteCard() {
        var cardNumber = $('.swiper-slide-active').find('.card').attr('id');
        alert(cardNumber);
        var url = '/user/mypage/deleteCard.do';
        var req = {
            urIdx: urIdx,
            cardNumber: cardNumber
        };

        $.ajax({
            type: "post",
            url: url,
            data: JSON.stringify(req),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            //async:false,
            success: function (res) {
                alert("변경 성공")
            }, error: function () {
                console.log("error");
            }
        }).done(function (res) {
            console.log(res);
        });

        $('.swiper-slide-active').remove();
        refreshSwiper();
    }
*/

    /*]]>*/

    window.name = "Parent_window";

    function fnPopup() {
        window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
        document.form_chk.target = "popupChk";
        document.form_chk.submit();
    }
</script>
</body>
</html>