<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>

<div id="wrap">

    <!-- top menu -->
    <div th:replace="top_menu :: topMenu"></div>

    <div class="sub-container1060">
        <div class="mypage">
            <div class="head">
                <div class="welcome">
                    <p>반갑습니다.</p>
                    <strong th:text="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT').authentication.principal.getUserName() + ' 회원님!'}"></strong>
                </div>
                <div class="btns">
<!--                    <a href="#" class="b1">견적확인</a>-->
                    <a href="#" class="b2">결제확인</a>
                    <a href="#" class="b3">문의확인</a>
                </div>
            </div>
            <div class="body">
                <div class="myinfo">
                    <hr class="hr3">
                    <h3 class="h3"><strong><span>내정보</span></strong>
                        <div class="pull-right">
                            <button class="btn-type3 btn-xs txt-blue" id="">내정보 수정</button>
                        </div>
                    </h3>
                    <div class="txt-box1">
                        <dl>
                            <dt>이름</dt>
                            <dd th:text="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT').authentication.principal.getUserName()}"></dd>
                        </dl>
                        <dl>
                            <dt>휴대폰번호</dt>
                            <dd id="userContact"></dd>
                        </dl>
                        <dl>
                            <dt>생년월일</dt>
                            <dd id="userBirth"></dd>
                        </dl>
                    </div>
                    <hr class="hr3">

                    <h3 class="h3"><strong><span>먼허정보</span></strong>
                        <div class="pull-right">
                            <button class="btn-type3 btn-xs txt-blue" id="regist_License">면허등록&amp;변경</button>
                        </div>
                    </h3>
                    <div class="txt-box1"><!--<img src="/static/img/common/img_license.png">-->
                        <dl>
                            <dt>면허 코드</dt>
                            <dd id="licenseCode"></dd>
                        </dl>
                        <dl>
                            <dt>면허 번호</dt>
                            <dd id="licenseNumber"></dd>
                        </dl>
                        <dl>
                            <dt>적성검사 만료일</dt>
                            <dd id="licenseExpiration"></dd>
                        </dl>
                        <dl>
                            <dt>발급일</dt>
                            <dd id="licenseIssueDT"></dd>
                        </dl>
                    </div>
                </div>
                <div class="mycard">
                    <hr class="hr3">
                    <h3 class="h3">
                        <strong><span>결제카드</span></strong>
                        <div class="pull-right">
                            <button class="btn-type3 btn-xs txt-blue" id="registCard">신규카드 등록</button>
                        </div>
                    </h3>
                    <div class="card-slider">
                        <div class="slider">
                            <div class="swiper-container">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <img src="/static/img/common/tmp_card.png">
                                            <p class="bank">우리은행</p>
                                            <div class="number">
                                                <strong id="cardNumber"></strong>
                                                <p id="cardExpiration"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <img src="/static/img/common/tmp_card.png">
                                            <p class="bank">우리은행</p>
                                            <div class="number">
                                                <strong>0000-0000-0000-0000</strong>
                                                <p>00년00월</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <img src="/static/img/common/tmp_card.png">
                                            <p class="bank">우리은행</p>
                                            <div class="number">
                                                <strong>0000-0000-0000-0000</strong>
                                                <p>00년00월</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="btn-type3 btn-xs txt-blue">보이는 카드를 결제카드로 등록</button>
                        <button class="btn-type3 btn-xs txt-blue">보이는 카드 등록 삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer :: footer"></div>
</div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $('#regist_License').on('click', function () {
            location.href = "/user/license.do";
        });

        $('#registCard').on('click', function () {
            location.href = "/user/card.do";
        });

        var url = '/user/mypage/userInfo.do';
        var data = {
            urIdx : '0vhO6BFG'
        }
        $.ajax({
            type: "post",
            url: url,
            data : JSON.stringify(data),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            //async:false,
            success: function (res) {
                $('#userContact').text(res.userInfo.userContact1);
                $('#userBirth').text(res.userInfo.userBirthday);
                //location.href = "/login";
            }, error: function () {
            }
        });

        var url = '/user/mypage/licenseInfo.do';
        var data = {
            urIdx : '0vhO6BFG'
        }
        $.ajax({
            type: "post",
            url: url,
            data : JSON.stringify(data),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            //async:false,
            success: function (res) {
                var data = res.licenseInfo;
                $('#licenseCode').text(data.licenseCode);
                $('#licenseNumber').text(data.licenseNumber);
                $('#licenseExpiration').text(data.licenseExpiration);
                $('#licenseIssueDT').text(data.licenseIssueDt);
                //location.href = "/login";
            }, error: function () {
            }
        });

        var url = '/user/mypage/cardInfo.do';
        var data = {
            urIdx : '0vhO6BFG'
        }
        $.ajax({
            type: "post",
            url: url,
            data : JSON.stringify(data),
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            //async:false,
            success: function (res) {
                var data = res.cardInfo;
                $('#cardNumber').text(data.cardNumber);
                $('#cardExpiration').text(data.cardExpiration);
                console.log("success");
                //location.href = "/login";
            }, error: function (err) {
                console.log(err);
                console.log("error");
            }
        });
    });

    /*]]>*/
</script>
</html>