<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>


		<div class="sub-container328">
			<h2 class="h2"><span><em>포인트 조회</em></span></h2>
			<h4 class="h4">GS&amp;POINT</h4>
			
			<p class="tit1 blue1 mb5">카드정보</p>
			<div class="mb5"><input type="tel" class="inp block" value="123456789012"></div>
			<div class="mb5"><input type="password" class="inp block" value="1234"></div>
			<div class="txt1 gray3 mb15">*입력하신 정보로 GS&amp;POINT의 인증절차가 진행됩니다.
  동의하실 경우 조회를 눌러주세요.</div>
			
			<button class="btn-type3 btn-m block">동의/조회</button>
			
			<hr class="hr2">
			<dl class="txt-box2 mb15">
				<dt>사용 가능 포인트</dt>
				<dd>3,000P</dd>
			</dl>
			<p class="tit1 blue1 mb5">포인트 사용</p>
			<div class="mb40"><input type="tel" class="inp block" value="3,000"></div>
			
			<div class="bottom-area">
				<button class="btn-type1 bg-blue block" >적용</button>
			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

