<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<h1><a href="#">DUCHA</a></h1>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		

		<div class="sub-container328">
			<h2 class="h2"><span><em>포인트 조회</em></span></h2>
			<h4 class="h4">GS&amp;POINT</h4>
			
			<p class="tit1 blue1 mb5">카드정보</p>
			<div class="mb5"><input type="tel" class="inp block" value="123456789012"></div>
			<div class="mb5"><input type="password" class="inp block" value="1234"></div>
			<div class="txt1 gray3 mb15">*입력하신 정보로 GS&amp;POINT의 인증절차가 진행됩니다.
  동의하실 경우 조회를 눌러주세요.</div>
			
			<button class="btn-type3 btn-m block">동의/조회</button>
			
			<hr class="hr2">
			<dl class="txt-box2 mb15">
				<dt>사용 가능 포인트</dt>
				<dd>3,000P</dd>
			</dl>
			<p class="tit1 blue1 mb5">포인트 사용</p>
			<div class="mb40"><input type="tel" class="inp block" value="3,000"></div>
			
			<div class="bottom-area">
				<button class="btn-type1 bg-blue block" >적용</button>
			</div>
		</div>


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

