<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	<div id="wrap" class="map"><!-- 지도떄문에 지도 부분에만 map 클래스 추가 -->
		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="map-container">
			
			<!-- // aside -->
			<div class="map-area">
				<div id="map"></div>



				<div class="srch-area">
					<input type="text" class="inp-srch" placeholder="서울특별시 강나무 논현로79길 73">
					<button class="btn-srch"></button>
				</div>

				

				<div class="map-btns">
					<div class="in">
						<button id="btnLocationSave" class="btn-type1 bg-blue2 radius block">위치저장</button>
					</div>
				</div>



				<!-- 임시 아이콘 영역 -->
				<div>
					<!-- 축소시 아이콘 -->

					<div class="map-icon" style="left: 40%; top:40%; transform: translateX(-50%)">자동차</div>
					<div class="map-icon mine" style="left: 40%; top:40%; margin-top:-43px;">내위치</div>


					<div class="map-icon car" style="left: 50%; top:60%; transform: translateX(-50%)">자동차</div>
					<div class="map-icon deli" style="left: 50%; top:60%; margin:-40px 0 0 -4px">배달</div>

					<div class="map-icon car" style="left: 50%; top:70%; transform: translateX(-50%)">자동차</div>
					<div class="map-icon pick" style="left: 50%; top:70%; margin:-40px 0 0 -4px">지점위치</div>


				</div>
				<!-- // 임시 아이콘 영역 -->
			</div>
			<!-- // map-area -->
		</div>
		<!-- // map-container -->

	</div>
	
	
	
	<script>
		
	$(function(){
		// 임시 스크립트
		
		
		$('#btnLocationSave').click(function () {
			// todo crIdx
			var crIdx = "20200928-B3D0751E";
			location.href="/user/carSearch/" + crIdx;
		});
		
		function onRetalLocation(){
			$('.rollover-nav').stop().slideDown(300);
			$('.bg-rollover').stop().fadeIn(300);
		}
		function offRetalLocation(){
			$('.rollover-nav').stop().slideUp(300);
			$('.bg-rollover').stop().fadeOut(300);
		}
		
		$('.bg-rollover').click(function(){
			offRetalLocation();
		})
		$('.car').click(function(){
			onRetalLocation();
		})
		
		$('.rollover-radio').click(function(){
			$('.rollover-nav').find('.btn-type1').prop('disabled', false);
		});
		
		$('.rollover-nav .btn-type1').click(function(){
			offRetalLocation();
		})
		
	});
		
	// Map
	function initMap() {
		var myLatLng = {lat: 37.499820, lng: 126.920345};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 17,
			center: myLatLng			
		});		  
			var contentString = "<span>aaaa</span>";
			var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
//			var marker = new google.maps.Marker({
//			position: myLatLng,
//			map: map,
//			title: ''
//		});
		
	}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrrRxK09KyAeWXWQkoqTeqIaNt_gcHrZc&callback=initMap"></script>
	
	
	

</body>
</html>

