<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">
		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container500">
			<h2 class="h2 pc"><span><em>총 12건</em></span></h2>
			
			<div class="common-date">
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
			</div>
			<div class="car-list type2 mobile">
				<div class="head">
					<div class="total">총 12건</div>
					<div class="sort">
						<button class="btn-sort">필터</button>
					</div>
				</div>
				
			</div>
			
			
			<p class="tit1">차량</p>
			<ul class="checkbox-list">
				<li><label><input type="checkbox" class="text-radio"><span>경차</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>소형</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>중형</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>대형</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>SUV</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>승합</span></label></li>
			</ul>
			
			<p class="tit1">옵션</p>
			<ul class="checkbox-list">
				<li><label><input type="checkbox" class="text-radio"><span>네비게이션</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>파노라마썬루프</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>썬루프</span></label></li>
				<li><label><input type="checkbox" class="text-radio"><span>열선핸들</span></label></li>
				<li><label><input type="checkbox" class="text-radio" checked><span>열선시트</span></label></li>
			</ul>
			<p class="tit1">옵션</p>
			<div class="mb10">
				<select class="select" style="width:100%">
					<option>원하는 브랜드를 선택하세요.</option>
				</select>
			</div>
			<div class="mb30">
				<button class="btn-item">현대</button>
				<button class="btn-item">벤츠</button>
				<button class="btn-item">폭스바겐</button>
			</div>
			
			
			<p class="tit1">출고 연식</p>
			<div class="mb40">
				<ul class="checkbox-list">
					<li><label><input type="checkbox" class="text-radio"><span>2020</span></label></li>
					<li><label><input type="checkbox" class="text-radio"><span>2019</span></label></li>
					<li><label><input type="checkbox" class="text-radio"><span>2018</span></label></li>
					<li><label><input type="checkbox" class="text-radio"><span>2017</span></label></li>
				</ul>
			</div>
			<div class="bottom-area">
				<button class="btn-type1 bg-blue2 block">필터 적용</button>
			</div>
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

