<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>

<div id="wrap">

  <!-- top menu -->
  <div th:replace="top_menu :: topMenu"></div>

  <div class="sub-container1060">
    <h2 class="h2 pc"><span><em>
     <a href="/user/carSearch/location.do"> <button class="btn-flip">충남 아산시 탕정면 </button></a>
			</em></span></h2>

    <div class="common-date">
      <div class="date">
        <!--        01월 30일 (목) <strong>18:00</strong>-->
        <span id="qt_startDay"></span> <strong id="qt_startTime"></strong>
      </div>
      <div class="date">
        <!--        01월 30일 (목) <strong>18:00</strong>-->
        <span id="qt_endDay"></span> <strong id="qt_endTime"></strong>
      </div>
    </div>

    <div class="car-list type2">
      <div class="head">
        <p class="total" id="totCnt">총 <b></b>건</p>
        <div class="sort">
          <button class="btn-sort"><i class="ico-sort"></i>가격</button>
           <button class="btn-sort">필터</button>
        </div>
      </div>
      <div class="body">
        <ul id="carListDiv">

        </ul>
      </div>
    </div>
    <!-- // car-list -->
  </div>
  <div th:replace="footer :: footer"></div>
</div>

<form id="paymentLocation" method="post">
  <input type="hidden" id="crIdx" name="crIdx"/>
  <input type="hidden" id="rentStartDt" name="rentStartDt"/>
  <input type="hidden" id="rentEndDt" name="rentEndDt"/>
  <input type="hidden" id="longTerm" name="longTerm"/>
  <input type="hidden" id="deliveryTypeCode" name="deliveryTypeCode"/>
  <input type="hidden" id="deliveryAddr" name="deliveryAddr"/>
  <input type="hidden" id="returnAddr" name="returnAddr"/>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    var UR_IDX = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.principal.urIdx}]]*/'default';
    var USER_AGE = calcAge(/*[[${session.SPRING_SECURITY_CONTEXT.authentication.principal.userBirthday}]]*/'default');
    var GLOBAL_SYS_DT = /*[[${preParam.SYS_DT}]]*/'0';
    var GLOBAL_TERM = '';
    var GLOBAL_DELIVERY_TYPE_CODE = '';
    var GLOBAL_PAGE_NUM = 1;
    var GLOBAL_DISPLAY_NUM = 5;
    var GLOBAL_ST_DT = '';
    var GLOBAL_END_DT = '';
    var GLOBAL_TOTAL_DATA = '';
    var GLOBAL_END_PAGE_NUM = '';
    var GLOBAL_RETURN_ADDR = '';
    var GLOBAL_DELIVERY_ADDR = '';
    var crIdx;
    var detailStartTime;
    var detailEndTime;
    $(document).ready(function () {
        initializingPageData();
        // bindEvent();
    });//end ready

    function initializingPageData() {

        var nowDt = cf_change_Format_monemtJs(GLOBAL_SYS_DT);
        $('#regDt').text(cf_DisplayDate('YYYY.MM.DD'));

        var week = ['일', '월', '화', '수', '목', '금', '토'];

        var preParam = /*[[${preParam}]]*/ '0';
        var startDay = /*[[${preParam.rentStartDay}]]*/'0';
        var startTime = /*[[${preParam.rentStartTime}]]*/'0';
        var start_yyyy = startDay.substring(0, 4);
        var start_mm = startDay.substring(4, 6);
        var start_dd = startDay.substring(6, 8);

        var st_week = week[new Date(start_yyyy, start_mm - 1, start_dd).getDay()];
        var st_hh = startTime.substring(0, 2);
        var st_mm = startTime.substring(2, 4);
        var rentStartTimeAmPm = Number(st_hh) >= 12 ? 'PM' : (Number(st_hh) == 12 ? 'PM' : 'AM');
        var rentStartTime =  ' ' + startTime;
        var setStartWeek = ' (' + st_week + ') ';
        var setStartDay = start_mm + '월 ' + start_dd + '일' + setStartWeek;
        var setStartTime = st_hh + ":" + st_mm;

        GLOBAL_ST_DT = startDay + startTime;

        $('#qt_startDay').text(setStartDay);
        $('#qt_startTime').text(setStartTime);

        var endDay = /*[[${preParam.rentEndDay}]]*/'0';
        var endTime = /*[[${preParam.rentEndTime}]]*/'0';
        var end_yyyy = endDay.substring(0, 4);
        var end_mm = endDay.substring(4, 6);
        var end_dd = endDay.substring(6, 8);
        var end_week = week[new Date(end_yyyy, end_mm - 1, end_dd).getDay()];
        var ed_hh = endTime.substring(0, 2);
        var ed_mm = endTime.substring(2, 4);
        var rentEndTimeAmPm = Number(ed_hh) >= 12 ? 'PM' : (Number(ed_hh) == 12 ? 'PM' : 'AM');
        var rentEndTime = rentEndTimeAmPm + ' ' + convertTimeFormat12MIS(endTime);
        var setEndWeek = ' (' + end_week + ') ';
        var setEndDay = + end_mm + '월 ' + end_dd + '일' + setEndWeek;
        var setEndTime = ed_hh + ":" + ed_mm;

        GLOBAL_END_DT = endDay + endTime;

        detailStartTime = start_yyyy + '.' + start_mm + '.' + start_dd + ' ' + st_week + ' ' + setStartTime;
        detailEndTime = end_yyyy + '.' + end_mm + '.' + end_dd + ' ' + end_week + ' ' + setEndTime;

        $('#qt_endDay').text(setEndDay);
        $('#qt_endTime').text(setEndTime);

        startDate = start_yyyy + '/' + start_mm + '/' + start_dd;
        endDate = end_yyyy + '/' + end_mm + '/' + end_dd;

        var diff_start_time = rentStartTimeAmPm == 'PM' ? convertTimeFormat24MIS(startTime) + ':' + '00' : convertTimeFormat12MIS(startTime) + ':' + '00';
        var diff_end_time = rentEndTimeAmPm == 'PM' ? convertTimeFormat24MIS(endTime) + ':' + '00' : convertTimeFormat12MIS(endTime) + ':' + '00';

        var diffDate = setDateTimeDiff(new Date(startDate + ' ' + diff_start_time), new Date(endDate + ' ' + diff_end_time));

        renderingSumTime(diffDate[0], diffDate[1], diffDate[2], diffDate[3]);

        if (Number(diffDate[0]) >= 1) {
            GLOBAL_TERM = 'LT';
        } else {
            GLOBAL_TERM = 'ST';
        }

        var deliveryTypeCode = /*[[${preParam.deliveryTypeCode}]]*/'0';
        GLOBAL_DELIVERY_TYPE_CODE = deliveryTypeCode;
        GLOBAL_RETURN_ADDR = /*[[${preParam.returnAddr}]]*/'0';
        GLOBAL_DELIVERY_ADDR = /*[[${preParam.deliveryAddr}]]*/'0';

        var setDeliveryTypeCode = deliveryTypeCode == 'OF' ? '지점방문' : deliveryTypeCode == 'DL' ? '배달대여' : '미정';

        $('#qt_deliveryTypeCode').text(setDeliveryTypeCode);
        $('#qt_deliveryAddr').text('${preParam.deliveryAddr}');
        $('#qt_returnAddr').text('${preParam.returnAddr}');

        var selectCarTypeList = /*[[${preParam.carTypeCodeList}]]*/'0';
        var carTypePrefix = selectCarTypeList.length > 1 ? ', ' : '';
        var strSelectCarTypeList = '';

        for (var i = 0; i < selectCarTypeList.length; i++) {
            if ((selectCarTypeList.length - 1) == i) {
                carTypePrefix = '';
            }
            switch (selectCarTypeList[i]) {
                case '경차'  :
                    strSelectCarTypeList += '경차';
                    break;
                case '소형'  :
                    strSelectCarTypeList += '소형';
                    break;
                case '중형'  :
                    strSelectCarTypeList += '중형';
                    break;
                case 'LG'  :
                    strSelectCarTypeList += '대형';
                    break;
                case 'SV'  :
                    strSelectCarTypeList += 'SUV';
                    break;
                case 'VN'  :
                    strSelectCarTypeList += '승합차';
                    break;
                default :
                    break;
            }
            strSelectCarTypeList += carTypePrefix;
        }

        $('#qt_carTypeCodeList').text(strSelectCarTypeList);

        drawCarList();
    }

    function drawCarList() {

        var setAddr = nullCheck('/*[[${preParam.returnAddr}]]*/\'0\'}'.split(' '));
        var addr1 = nullCheck(setAddr[0]);
        var addr2 = nullCheck(setAddr[1]);
        var addr3 = nullCheck(setAddr[2]);

        var reqParam = {
            'addr1': addr1
            , 'addr2': addr2
            , 'addr3': addr3
            , 'carTypeCodeList': /*[[${preParam.carTypeCodeList}]]*/'0'
            , 'rentStartDt': GLOBAL_ST_DT
            , 'rentEndDt': GLOBAL_END_DT
        };

        var carListHtml = '';

        $.ajax({
            type: "POST",
            url: "/user/carSearch/carList.json",
            dataType: 'json',
            data: reqParam,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            async: false,
            success: function (res) {
            }
        }).done(function (res) {
            var carList = res.result;
            var totalCount = nullCheck(res.result[0]) == '' ? 0 : carList.length;

            $('#totCnt').text('총 ' + String(totalCount) + ' 대가 검색되었습니다.');
            GLOBAL_TOTAL_DATA = totalCount;
            GLOBAL_END_PAGE_NUM = (totalCount / GLOBAL_DISPLAY_NUM);
            if (totalCount == '') {
                emptyList($('#carListDiv'));
            } else {
                for (var i = 0; i < carList.length; i++) {
                    carListHtml += makeCarListHtml(carList[i]);
                }
                $('#carListDiv').append(carListHtml);
            }

            if ($('.hdslider li').length > 1) {
                $('.hdslider').bxSlider({
                    mode: 'horizontal',
                    speed: 2000,
                    auto: true,
                    pause: 5000
                });
            }
        });
    }

    function numberFormat(inputNumber) {
        return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }


    function makeCarListHtml(carInfo) {

        crIdx = carInfo.crIdx;
        var modelName = carInfo.modelName;
        var colorName = carInfo.colorName;
        var fuelName = carInfo.fuelName;
        var fuelCode = carInfo.fuelCode;
        var mileage = carInfo.mileage;
        var dailyStandardPay = carInfo.dailyStandardPay;
        var year = carInfo.year;
        var companyAddress = carInfo.companyAddress;
        var companyName = carInfo.companyName;
        var imgIdx = carInfo.imgIdx;
        var modelDetailName = nullCheck(carInfo.modelDetailName);
        var branchName = nullCheck(carInfo.branchName);
        var ageLimit = nullCheck(carInfo.ageLimit) == '' ? '' : carInfo.ageLimit;

        if (ageLimit.indexOf(',') != -1) {
            ageLimit = ageLimit.split(',');
            if (GLOBAL_TERM == 'ST') {
                ageLimit = ageLimit[0];
            }
        }


        var calcRentFee = carInfo.calcRentFee;
        var calcDisRentFee = carInfo.calcDisRentFee;
        var insuranceFee = carInfo.insuranceFee;
        var totalFee = Number(calcDisRentFee) + Number(insuranceFee);

        var optionDetailValue = nullCheck(carInfo.optionDetailValue);
        var optionList = '';

        if (!optionDetailValue == '' && optionDetailValue.indexOf(',') != -1) {
            optionList = optionDetailValue.split(',');
        }

        var carImgList = nullCheck(carInfo.carImgList) == '' ? '' : carInfo.carImgList;
        carImgList = carImgList.indexOf(',') != -1 ? carImgList.split(',') : carImgList;


        var carList = '';

        carList += '<li>' ;
        // carList +=    '            <a href="/user/carSearch/' + crIdx +'">';
        carList +=    '            <a onclick="selectCarDetail()">';
        carList +=    '              <span value="'+ crIdx+'"></span>' ;
        carList +=    '              <div class="loc">' ;
        carList +=    '                <span>' + companyName + '렌터카'+'</span>' ;
        carList +=    '                <span>' + branchName + '지점'+'</span>' ;
        carList +=    '              </div>' ;
        carList +=    '              <p class="img"><img src="https://admin-ohdocha.sharenshare.kr/img/car/'+ imgIdx +'"></p>' ;
        carList +=    '              <div class="info">' ;
        carList +=    '                <p class="name">'+ year +' ' + modelName +' '  + modelDetailName +'</p>' ;
        carList +=    '                <p class="opt1">' + fuelCode + ' / ' + colorName +' / ' + numberFormat(mileage) + 'km' + '</p>';
        carList +=    '                <p class="opt2">' ;
        carList +=    '                  <span class="red">배달가능</span>' ;
        carList +=    '                  <span>블랙박스</span>' ;
        carList +=    '                  <span>후방카메라</span>' ;
        carList +=    '                  <span>통풍시트</span>' ;
        carList +=    '                </p>' ;
        carList +=    '              </div>' ;
        carList +=    '              <div class="price">' ;
        carList +=    '                <strong> ' + numberFormat(dailyStandardPay) + '원' + ' </strong>' ;
        carList +=    '                <small> ' + '~ ' + numberFormat(dailyStandardPay) + '원' + '</small>' ;
        carList +=    '              </div>' ;
        carList +=    '            </a>' ;
        carList +=    '          </li>';

        return carList;
    }

    function selectCarDetail() {
        var $form = $('<form method="post"></form>');

        $form.attr('action', "/user/carSearch/carDetail.do");
        $form.attr('method', 'post');
        $form.attr('contentType', 'application/x-www-form-urlencoded');

        crIdx = $('<input type="hidden" value="' + crIdx + '" name="crIdx">');
        var detailStartTime1 =  String(detailStartTime);
        detailEndTime = $('<input type="hidden" value="' + detailEndTime + '" name="detailEndTime">');
        // var rentStartDay = $('<input type="hidden" value="' + rentStartDay + '" name="rentStartDay">');
        // var rentStartTime = $('<input type="hidden" value="' + rentStartTime + '" name="rentStartTime">');
        // var rentEndDay = $('<input type="hidden" value="' + rentEndDay + '" name="rentEndDay">');
        // var rentEndTime = $('<input type="hidden" value="' + rentEndTime + '" name="rentEndTime">');
        //
        // var deliveryAddr = $('<input type="hidden" value="' + detailAddr + '" name="deliveryAddr">');
        // var return_addr_text = $('<input type="hidden" value="' + detailAddr + '" name="returnAddr">');
        //
        // var carTypeCodeList = $('<input type="hidden" value="' + carTypeArr + '" name="carTypeCodeList">');
        // var deliveryTypeCode = $('<input type="hidden" value="' + rentType + '" name="deliveryTypeCode">');

        detailStartTime = $('<input type="hidden" value="'+ encodeURIComponent(detailStartTime1)+'" name="detailStartTime">');

        $form.append(crIdx);
        $form.append(detailStartTime);
        $form.append(detailEndTime);
        // $form.append(rentStartDay);
        // $form.append(rentStartTime);
        // $form.append(rentEndDay);
        // $form.append(rentEndTime);
        // $form.append(deliveryAddr);
        // $form.append(return_addr_text);
        // $form.append(carTypeCodeList);
        // $form.append(deliveryTypeCode);

        $form.appendTo('body');
        $form.submit();




    }






    // function bindEvent() {
    //     $(window).scroll(function () {
    //         if (GLOBAL_TOTAL_DATA > 0) {
    //             if (Number(GLOBAL_END_PAGE_NUM) > Number(GLOBAL_PAGE_NUM)) {
    //                 if ($(window).scrollTop() == $(document).height() - $(window).height()) {
    //                     GLOBAL_PAGE_NUM++;
    //                     drawCarList();
    //                 }
    //             }
    //         }
    //     });
    // }


    function emptyList(target) {
        var resHtml = '';

        resHtml += '<div class="empty">';
        resHtml += '<p class="text">검색하신 조건에 만족하는 차량이 없습니다.</p>';
        resHtml += '</div>';

        $(target).empty();
        $(target).append(resHtml);
    }

    function renderingSumTime(strMm, strDd, strHh, strMin) {

        var setMm = strMm == 0 ? '&nbsp;</b>' : strMm + '</b>개월';
        var setDd = strDd == 0 ? '&nbsp;</b>' : strDd + '</b>일';
        var setHh = strHh == 0 ? '&nbsp;</b>' : strHh + '</b>시간';
        var setMin = strMin == 0 ? '&nbsp;</b>' : strMin + '</b>분';
        if (GLOBAL_TERM == 'ST') {
            setHh = '&nbsp;</b>';
            setMin = '&nbsp;</b>';
        }

        var html = '';
        html += '<span>총';
        html += '	<b>' + setMm;
        html += '	<b>' + setDd;
        html += '	<b>' + setHh;
        html += '	<b>' + setMin;
        html += '</span>';

        $('#total_time').empty();
        $('#total_time').append(html);

    }

    function goPayment(crIdx, totalFee, _limitAge) {

        var urIdx = UR_IDX;
        var userAge = nullCheck(USER_AGE) == '' ? nullCheck(userAge) : Number(userAge);
        var limitAge = nullCheck(_limitAge) == '' ? nullCheck(_limitAge) : Number(_limitAge);

        if (limitAge > userAge) {
            alert('본 상품은 만' + String(limitAge) + ' 이상 상품입니다.');
            return;
        }

        if (Number(totalFee) == 0) {
            alert('대기중인 상품입니다.');
        } else {
            $('#crIdx').val(crIdx);
            $('#rentStartDt').val(GLOBAL_ST_DT);
            $('#rentEndDt').val(GLOBAL_END_DT);
            $('#longTerm').val(GLOBAL_TERM);
            $('#deliveryTypeCode').val(GLOBAL_DELIVERY_TYPE_CODE);
            $('#deliveryAddr').val(GLOBAL_DELIVERY_ADDR);
            $('#returnAddr').val(GLOBAL_RETURN_ADDR);
            $('#paymentLocation').attr('action', '/user/carSearch/paymentDetail.do');
            $('#paymentLocation').submit();
        }

    }

    /*]]>*/
</script>
</body>


</html>

