<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../static/css/front.css">
<script type="text/javascript" src="../../static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../static/js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../static/js/front.js"></script>

</head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container1060">
			<h2 class="h2"><span><em>쿠폰북</em></span></h2>
			<div class="event-head">
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			
			<p class="tit2 black">다운 가능 쿠폰 <b>3개</b></p>
			<div class="event-list">
				<ul>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block">쿠폰다운</button></div>
						</div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block" disabled>쿠폰다운</button></div>
						</div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block">쿠폰다운</button></div>
						</div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block">쿠폰다운</button></div>
						</div>
					</li>
					
					
				</ul>
			</div>
			
			
		</div>



		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

