<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container1060">
			<h2 class="h2"><span><em>이벤트</em></span></h2>
			<div class="event-head">
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			
			<p class="tit2 black">진행중 이벤트 <b>3개</b></p>
			<div class="event-list">
				<ul>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
				</ul>
			</div>
			
			<p class="tit2 black">종료된 이벤트</p>
			<div class="event-list">
				<ul>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
				</ul>
			</div>
			
			
		</div>



		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

