<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../static/css/front.css">
<script type="text/javascript" src="../../static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../static/js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../static/js/front.js"></script>

</head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="m-gnb">
			<div class="scroller">
				<button class="btn-close">닫기</button>

				<!-- 로그인 전 -->
				<div class="before" th:if="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT') == null}">
					<div class="text">
						<a href="#"><strong>로그인</strong></a>을 해주세요!
					</div>

					<div class="btn-box">
						<div>
							<button class="btn-type3 btn-m block"><b>로그인</b></button>
						</div>
						<div>
							<button class="btn-type3 btn-m block"><b>회원가입</b></button>
						</div>
					</div>
				</div>

				<!-- 로그인 후 -->
				<div class="after" th:if="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT') != null}">
					<div class="welcome">
						반갑습니다.
						<b>홍길동 회원님!</b>
					</div>
					<div class="btns">
						<a href="#" class="b2">연장하기</a>
						<a href="#" class="b3">예약확인</a>
					</div>
				</div>

				<div class="nav">
					<ul>
						<li class="m1"><a href="#">이벤트</a></li>
						<li class="m2"><a href="#">쿠폰북</a></li>
						<li class="m3"><a href="#">FAQ</a></li>
						<li class="m4"><a href="#">공지사항</a></li>
						<li class="m5"><a href="#">문의하기</a></li>
					</ul>
				</div>
			</div>
			<div class="cars">
				<p><img src="img/common/txt_gnb.png"></p>
				<div class="txt">
					<p>문의전화 : 1661-2666</p>
					<div>서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
			</div>

		</div>
		<p class="bg-gnb"></p>

		<div class="sub-container1060">
			<h2 class="h2"><span><em>이벤트</em></span></h2>
			<div class="event-head">
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="../../static/img/common/tmp_event1.jpg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			
			<p class="tit2 black">진행중 이벤트 <b>3개</b></p>
			<div class="event-list">
				<ul>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
				</ul>
			</div>
			
			<p class="tit2 black">종료된 이벤트</p>
			<div class="event-list">
				<ul>
					<li>
						<div class="img"><a href="#"><img src="../../static/img/common/tmp_event2.jpg"></a></div>
					</li>
				</ul>
			</div>
			
			
		</div>



		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

