<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container1060">
			<h2 class="h2"><span><em>이벤트</em></span></h2>
			<div class="event-head">
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide" th:each="bannerImgList, index : ${bannerImgList}">
								<a th:href="'/event/detail/' + ${bannerImgList.evIdx}">
									<img style="width:100%" th:src="${'https://admin.docha.co.kr/img/event/' + bannerImgList.evBannerImgIdx}">
								</a>
							</div>
							<div class="swiper-slide" th:if="${bannerImgList.empty}">
								<div class="tit">두차가 새롭게<br>오픈했습니다!</div>
								<img src="../static/img/common/tmp1.jpg">
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			
			<p class="tit2 black">진행중 이벤트 <b th:text="${presentImgList.size() + '개'}"></b></p>
			<div class="event-list">
				<ul>
					<li th:each="presentImgList, index : ${presentImgList}">
						<div class="img">
							<a th:href="'/event/detail/' + ${presentImgList.evIdx}"><img th:src="${'https://admin.docha.co.kr/img/event/' + presentImgList.evListImgIdx}"></a></div>
					</li>
				</ul>
			</div>
			
			<p class="tit2 black">종료된 이벤트</p>
			<div class="event-list">
				<ul>
					<li th:each="pastImgList, index : ${pastImgList}" th:data-value="${pastImgList.evIdx}">
						<div class="img">
							<a th:href="'/event/detail/' + ${pastImgList.evIdx}">
							<img th:src="${'https://admin.docha.co.kr/img/event/' + pastImgList.evListImgIdx}"></a></div>
					</li>
				</ul>
			</div>
		</div>



		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

