<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container1060">
			<h2 class="h2"><span><em>DOCHA 문의하기</em></span></h2>
			<div class="notice">
				<ul id="target">
					<li id="first">
						<a href="#" class="head">
							<p class="tit">등록된 문의가 없습니다. <span></span></p>
							<p class="date"></p>
							<p class="date"></p>
						</a>
						<div class="body">
		
						</div>
					</li>
					
				</ul>
			</div>
			
			<div class="bottom-area">
				<a href="/question.do"><button class="btn-type1 bg-blue2 block">문의하기</button></a>
			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
	
	
<script th:inline="javascript">
		
		$(document).ready(function () {
			
			//var preParam = [[${preParam}]];
			//차량정보를 조회하여 화면에 가격 설정
			$.ajax({
			    type: "POST",
			    url: "/questionList.json",
			    dataType: 'json',
			    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			    async: false,
			    success: function (res) {
			    },error:function(request,status,error){
			        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			        // alert("문의사항 조회 중 오류가 발생했습니다. 잠시 후 다시 시도 해 주십시오");
			    }
			})
			.done(function (res) {
				console.log(res);
				drawView(res.data);
				//replay-ing replay-end
				 $('.faq .q, .notice .head').click(function () {
				        if (!$(this).closest('li').hasClass('active')) {
				            $(this).closest('li').addClass('active');
				            $(this).next().stop().slideDown(300);
				        } else {
				            $(this).closest('li').removeClass('active');
				            $(this).next().stop().slideUp(300);
				        }
				    })
			});
		})
		
		function drawView(data){
			
			let first = document.getElementById("first");
			let target = document.getElementById("target");
			console.log(data);
			data.forEach(function(item,index,arr){ 
				let dom = first.cloneNode(true);
				console.log(dom);
				const nodes = dom.childNodes;
				let aTag = dom.querySelector("a");
				
				let spanTxt;
				if(item.quAnswerYn == 1){
					spanTxt = "<span class='replay-end'>답변완료</span>";
				}else{
					spanTxt = "<span class='replay-ing'>답변대기</span>";
				}
				
				aTag.querySelectorAll("p")[0].innerHTML = item.quTitle + spanTxt;
				aTag.querySelectorAll("p")[1].innerHTML = item.questionDt;
				if(item.quContents.length > 0){
					aTag.querySelectorAll("p")[2].innerHTML = item.quContents;
				}else{
					aTag.querySelectorAll("p")[2].remove();
				}
				
				if(item.quAnswer.length > 0){
					dom.querySelector("div").innerText = item.quAnswer;
				}else{
					dom.querySelector("div").remove();
				}
				
				target.append(dom);
			});
			
			first.remove();
		}
	</script>
</body>
</html>

