<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>

<div id="wrap">

    <!-- top menu -->
    <div th:replace="top_menu :: topMenu"></div>

    <div class="sub-container328">
        <h2 class="h2"><span><em>카드등록</em></span></h2>

        <p class="tit1 blue1 mb5">카드번호</p>
        <div class="form-box2 mb25">
            <div class="form"><input id="cardNum1" type="tel" class="inp block" value="" maxlength="4"></div>
            <div class="form"><input id="cardNum2" type="tel" class="inp block" value="" maxlength="4"></div>
            <div class="form"><input id="cardNum3" type="password" class="inp block" value="" maxlength="4"></div>
            <div class="form"><input id="cardNum4" type="password" class="inp block" value="" maxlength="4"></div>
        </div>
        <p class="tit1 blue1 mb5">유효기간</p>
        <div class="form-box2 mb25">
            <div class="form"><input id="expMM" type="tel" class="inp block" placeholder="MM" maxlength="2"></div>
            <div class="form"><input id="expYY" type="tel" class="inp block" placeholder="YY" maxlength="2"></div>
        </div>
        <p class="tit1 blue1 mb5">생년월일</p>
        <div class="form-box2 mb20">
            <div class="form" style="width:15%"><input id="userBirthM" type="password" class="inp block text-center"
                                                       placeholder=""
                                                       maxlength="1"></div>
            <div class="form" style="width:15%"><input id="userBirthMM" type="password" class="inp block text-center"
                                                       placeholder=""
                                                       maxlength="1"></div>
            <div class="number">**</div>
        </div>
        <p class="red mb50">*카드 정보 확인을 위해 1,000원이 결제되며 바로 환불처리 됩니다.</p>
        <div class="bottom-area">
            <button class="btn-type1 bg-blue block" id="btnCardRegister">카드등록</button>
        </div>
    </div>

    <div th:replace="footer :: footer"></div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#btnCardRegister').click(function () {
        var urIdx = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.principal.urIdx}]]*/'default';
        var cardNumber = $('#cardNum1').val() + "-" + $('#cardNum2').val() + "-" + $('#cardNum3').val() + "-" + $('#cardNum4').val();
        var cardExpiration = $('#expMM').val() + "/" + $('#expYY').val();
        var userBirth = $('#userBirthM').val() + $('#userBirthMM').val();

        if ($('#cardNum1').val().length < 4 || $('#cardNum2').val().length < 4 || $('#cardNum3').val().length < 4 || $('#cardNum4').val().length < 4) {
            alert("카드번호를 확인해주세요.");
        } else if ($('#expMM').val() > 12) {
            alert("유효기간을 확인해주세요.");
        } else if (userBirth > 12) {
            alert("생년월일을 확인해주세요.");
        } else {
            req = {
                "urIdx": urIdx,
                "cardNumber": cardNumber,
                "cardExpiration": cardExpiration,
                "userBirth": userBirth
            }

            var url = "/user/mypage/card.do";
            $.ajax({
                type: "post",
                url: url,
                data: JSON.stringify(req),
                contentType: "application/json",  // ajax 통신으로 보내는 타입
                //async:false,
                success: function (res) {
                    alert("등록 성공");
                }, error: function () {
                    console.log("error");
                }
            }).done(function (res) {
                console.log(res);
            });
        }
    });
    /*]]>*/
</script>
</body>
</html>