<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DUCHA</a>
			</h1>
			<div class="top">
				쿠폰북
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		

		<div class="sub-container1060">
			<h2 class="h2"><span><em>쿠폰북</em></span></h2>
			<div class="event-head">
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="img/common/tmp_event1.jpg"></div>
							<div class="swiper-slide"><img src="img/common/tmp_event1.jpg"></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			
			<p class="tit2 black">다운 가능 쿠폰 <b>3개</b></p>
			<div class="event-list">
				<ul>
					<li>
						<div class="img"><a href="#"><img src="img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block">쿠폰다운</button></div>
						</div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block" disabled>쿠폰다운</button></div>
						</div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block">쿠폰다운</button></div>
						</div>
					</li>
					<li>
						<div class="img"><a href="#"><img src="img/common/tmp_event2.jpg"></a></div>
						<div class="info">
							<p class="subj">바로받자 5000원 쿠폰!</p>
							<dl>
								<dt>쿠폰사용 시작일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<dl class="mb10">
								<dt>쿠폰사용 종료일시</dt>
								<dd>2020.02.11 화 05:50</dd>
							</dl>
							<p class="tit1">사용 조건</p>
							<div class="txt1">
								# 준중형 / 중형 / 준대형 사용가능<br># 1개월 이상 대여시 사용 가능
							</div>
							<div class="btns"><button class="btn-type3 btn-m block">쿠폰다운</button></div>
						</div>
					</li>
					
					
				</ul>
			</div>
			
			
		</div>
		


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

