<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container328">
			<h2 class="h2"><span><em>연장 결제</em></span></h2>
			
			<p class="tit1 blue1 mb5">변경전 반납일시</p>
			<div class="mb20"><input type="text" class="inp block" value="2020. 09. 11(화) 18:00"></div>
			<p class="tit1 blue1 mb5">변경후 반납일시</p>
			<div class="mb20"><input type="text" class="inp block arr" value="2020. 09. 12(수) 13:50"></div>
			<p class="tit1 blue1 mb5">연장기간</p>
			<div class="mb20"><input type="text" class="inp block" value="11개월 11일 11시간 50분"></div>
			
			<div class="pay mb40">
				<dl>
					<dt class="blue1">차량대여료</dt>
					<dd>150,000원</dd>
				</dl>
				<hr class="hr2">
				<dl>
					<dt class="blue1">자차보험료</dt>
					<dd>100,000원
						<p class="desc gray3">(고객 면책금 1,000,000원)</p>
					</dd>
				</dl>
				<hr class="hr2">
				<dl class="payment-price mb20">
					<dt><b>결제 금액</b></dt>
					<dd><b>150,000원</b></dd>
				</dl>
				<div class="agree-box">
					<ul>
						<li>
							<div class="head">
								<label><input type="checkbox" class="checkbox"><em></em><span>취소 약관에 동의합니다.</span></label>
							</div>
							<div class="body">
								약관내용
							</div>
						</li>
						<li>
							<div class="head">
								<label><input type="checkbox" class="checkbox"><em></em><span>대여 약관에 동의합니다.</span></label>
							</div>
							<div class="body">
								약관내용
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="bottom-area">
				<button class="btn-type1 bg-blue2 block" >연장결제 <span class="normal">(100,000원)</span></button>
			</div>
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

