<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DUCHA</a>
			</h1>
			<div class="top">
				연장
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		

		<div class="sub-container328">
			<h2 class="h2"><span><em>연장 결제</em></span></h2>
			
			<p class="tit1 blue1 mb5">변경전 반납일시</p>
			<div class="mb20"><input type="text" class="inp block" value="2020. 09. 11(화) 18:00"></div>
			<p class="tit1 blue1 mb5">변경후 반납일시</p>
			<div class="mb20"><input type="text" class="inp block arr" value="2020. 09. 12(수) 13:50"></div>
			<p class="tit1 blue1 mb5">연장기간</p>
			<div class="mb20"><input type="text" class="inp block" value="11개월 11일 11시간 50분"></div>
			
			<div class="pay mb40">
				<dl>
					<dt class="blue1">차량대여료</dt>
					<dd>150,000원</dd>
				</dl>
				<hr class="hr2">
				<dl>
					<dt class="blue1">자차보험료</dt>
					<dd>100,000원
						<p class="desc gray3">(고객 면책금 1,000,000원)</p>
					</dd>
				</dl>
				<hr class="hr2">
				<dl class="payment-price mb20">
					<dt><b>결제 금액</b></dt>
					<dd><b>150,000원</b></dd>
				</dl>
				<div class="agree-box">
					<ul>
						<li>
							<div class="head">
								<label><input type="checkbox" class="checkbox"><em></em><span>취소 약관에 동의합니다.</span></label>
							</div>
							<div class="body">
								약관내용
							</div>
						</li>
						<li>
							<div class="head">
								<label><input type="checkbox" class="checkbox"><em></em><span>대여 약관에 동의합니다.</span></label>
							</div>
							<div class="body">
								약관내용
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="bottom-area">
				<button class="btn-type1 bg-blue2 block" >연장결제 <span class="normal">(100,000원)</span></button>
			</div>
		</div>
		


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

