<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DOCHA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/front.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
    <script type="text/javascript" src="js/front.js"></script>

</head>
<body>

<div id="wrap">
    <div id="header">
        <div class="btn-area">
            <button onclick="history.back()" class="btn-back"></button>
        </div>
        <h1>
            <a href="./index.html">DOCHA</a>
        </h1>
        <div class="top">
            아이디찾기
        </div>
        <div class="nav">
            <div class="gnb">
                <a href="./event.html">이벤트</a>
                <a href="./couponBook.html">쿠폰북</a>
                <a href="./FAQ.html">FAQ</a>
                <a href="./notice.html">공지사항</a>
                <a href="./inquiry.html">문의하기</a>
            </div>
            <div class="lnb">
                <a href="./login.html">로그인</a>
                <a href="./register.html">회원가입</a>
            </div>
        </div>
        <a href="#" class="btn-m"></a>
    </div>

    <div class="m-gnb">
        <div class="scroller">
            <button class="btn-close">닫기</button>

            <div class="before">
                <div class="text">
                    <a href="login.html"><strong>로그인</strong></a>을 해주세요!
                </div>

                <div class="btn-box">
                    <div>
                        <a href="login.html">
                            <button class="btn-type3 btn-m block"><b>로그인</b></button>
                        </a>
                    </div>
                    <div>
                        <a href="register.html">
                            <button class="btn-type3 btn-m block"><b>회원가입</b></button>
                        </a>
                    </div>
                </div>
            </div>


            <!-- 로그인후 -->
            <!--
            <div class="after">
                <div class="welcome">
                    반갑습니다.
                    <b>홍길동 회원님!</b>
                </div>
                <div class="btns">
                    <a href="#" class="b2">연장하기</a>
                    <a href="#" class="b3">예약확인</a>
                </div>
            </div>
            -->
            <div class="nav">
                <ul>
                    <li class="m1"><a href="event.html">이벤트</a></li>
                    <li class="m2"><a href="couponBook.html">쿠폰북</a></li>
                    <li class="m3"><a href="FAQ.html">FAQ</a></li>
                    <li class="m4"><a href="notice.html">공지사항</a></li>
                    <li class="m5"><a href="inquiry.html">문의하기</a></li>
                </ul>
            </div>
        </div>
        <div class="cars">
            <p><img src="img/common/txt_gnb.png"></p>
            <div class="txt">
                <p>문의전화 : 1661-2666</p>
                <div>서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
            </div>
        </div>

    </div>
    <p class="bg-gnb"></p>

    <div class="sub-container328">
        <div class="pw-tit"><img src="img/common/logo_black.png" style="height: 20px">
            <p><strong>＇홍길동＇</strong> 님의 아이디</p>
        </div>

        <p class="tit1 blue1 mb5">ID(이메일)</p>
        <div class="myid">shin@mobility-k.com</div>

        <div class="youok"><img src="img/common/img_car.png">
            <p>이제 로그인하여<br>차량을 예약하실 수 있습니다!</p></div>

        <div class="bottom-area col2">
            <button class="btn-type1 bg-blue2 block">저장</button>
            <button class="btn-type1 bg-blue block">비밀번호 찾기</button>
        </div>
    </div>


    <div id="footer">
        <div class="inner">
            <p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
            <div class="cs">
                <span>문의전화</span>
                <strong>1661-2666</strong>
                <div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
            </div>
            <div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
        </div>
    </div>
</div>


</body>
</html>

