<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="#">DUCHA</a>
			</h1>
			<div class="top">
				면허등록 & 수정
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		

		<div class="sub-container328">
			<h2 class="h2"><span><em>면허등록&amp;수정</em></span></h2>
			
			<div class="mb15"><img src="img/common/img_license.png"></div>
			<p class="tit1 blue1 mb5">1. 면허종류</p>
			<div class="mb25">
				<select class="select block">
					<option>1종 보통</option>
					<option>2종 보통</option>
				</select>
			</div>
			
			<p class="tit1 blue1 mb5">2. 면허번호</p>
			<div class="form-box mb25">
				<div class="prepend">
					<select class="select" style="width:120px">
						<option>11 (서울)</option>
						<option>11 (서울)</option>
						<option>11 (서울)</option>
					</select>
				</div>
				<div class="form"><input type="tel" class="inp block" value="00-000000-00"></div>
			</div>
			
			<p class="tit1 blue1 mb5">3. 적성검사 만료일</p>
			<div class="mb25"><input type="text" class="inp block" value="2021년 01월 01일"></div>
			
			<p class="tit1 blue1 mb5">4. 발급일</p>
			<div class="mb40"><input type="text" class="inp block" value="2020년 01월 01일"></div>
			<div class="bottom-area">
				<button class="btn-type1 bg-blue2 block" >완료</button>
			</div>
		</div>


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

