<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DOCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body>
	
	<div id="wrap">
		<div id="header">
			<div class="btn-area">
				<button class="btn-back"></button>
			</div>
			<h1>
				<a href="./index.html">DOCHA</a>
			</h1>
			<div class="top">
				<button class="btn-toggle">강남구 논현동</button>
			</div>
			<div class="nav">
				<div class="gnb">
					<a href="./event.html">이벤트</a>
					<a href="./couponBook.html">쿠폰북</a>
					<a href="./FAQ.html">FAQ</a>
					<a href="./notice.html">공지사항</a>
					<a href="./inquiry.html">문의하기</a>
				</div>
				<div class="lnb">
					<a href="./login.html">로그인</a>
					<a href="./register.html">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		<!--
		<div class="top-request">
			<div class="in">
				<div class="req-area">
					<button class="btn-req">요청정보</button>
					<div class="rent-schedule-common">
						<div class="req-tit">
							<p class="tit1">기간 및 위치</p>
							<div class="pull-right">
								<a href="#" class="btn-type3 btn-xs txt-blue"><i class="ico-map"></i>지도보기</a>
							</div>
						</div>
						<div class="schedule-time mb25">
							<dl class="first">
								<dt>대여</dt>
								<dd>
									<p class="date">2020.02.11 화 05:50</p>
									<p>부산광역시 강서구 녹산산단382로14번가길 10~29번지 (송정동)</p>
								</dd>
							</dl>
							<dl>
								<dt>반납</dt>
								<dd>
									<p class="date">2020.02.11 화 05:50</p>
									<p>부산광역시 강서구 녹산산단382로14번가길 10~29번지 (송정동)</p>
								</dd>
							</dl>
						</div>

						<p class="tit1 mb5">방법</p>
						<p class="txt1 mb25">지점방문</p>

						<p class="tit1">차량</p>
						<ul class="checkbox-list small-type">
							<li><label><input type="checkbox" class="text-radio small"><span>경차</span></label></li>
							<li><label><input type="checkbox" class="text-radio small" checked><span>소형</span></label></li>
							<li><label><input type="checkbox" class="text-radio small"><span>중형</span></label></li>
							<li><label><input type="checkbox" class="text-radio small"><span>대형</span></label></li>
							<li><label><input type="checkbox" class="text-radio small"><span>SUV</span></label></li>
							<li><label><input type="checkbox" class="text-radio small"><span>승합</span></label></li>
						</ul>

						<p class="tit1">옵션</p>
						<ul class="checkbox-list small-type">
							<li><label><input type="checkbox" class="text-radio small"><span>블랙박스</span></label></li>
							<li><label><input type="checkbox" class="text-radio small" checked><span>후방카메라</span></label></li>
							<li><label><input type="checkbox" class="text-radio small"><span>통풍시트</span></label></li>
						</ul>

						<p class="tit1 mb5">요청</p>
						<p class="txt1 mb20">담배냄새가 없는 차량으로 부탁해요</p>
						<div class="btns">
							<button class="btn btn-type1 bg-blue block">정보수정</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
		
		<div class="sub-container1060">
			<h2 class="h2 pc"><span><em>
				<button class="btn-flip">강남구 논현동</button>
			</em></span></h2>
			
			<div class="common-date">
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
				<div class="date">
					01월 30일 (목) <strong>18:00</strong>
				</div>
			</div>
			
			<div class="car-list type2">
				<div class="head">
					<div class="total">총 12건</div>
					<div class="sort">
						<button class="btn-sort"><i class="ico-sort"></i>가격</button>
						<button class="btn-sort"><i class="ico-sort"></i>평가</button>
						<button class="btn-sort">필터</button>
					</div>
				</div>
				<div class="body">
					<ul>
						<li>
							<a href="#">
								<div class="loc">
									<span>케이렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="img/common/tmp1.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span class="red">배달가능</span>
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="price">
									<strong>10,000,000원</strong>
									<small>~ 12,000,000원</small>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="loc">
									<span>케이렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="img/common/tmp2.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span class="blue1">지점방문</span>
										<span class="green">자차포함</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="price">
									<strong>10,000,000원</strong>
									<small>~ 12,000,000원</small>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="loc">
									<span>케이렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="img/common/tmp3.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="price">
									<strong>10,000,000원</strong>
									<small>~ 12,000,000원</small>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="loc">
									<span>케이렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="img/common/tmp4	.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="price">
									<strong>10,000,000원</strong>
									<small>~ 12,000,000원</small>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="loc">
									<span>케이렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="img/common/tmp5.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="price">
									<strong>10,000,000원</strong>
									<small>~ 12,000,000원</small>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="loc">
									<span>케이렌터카</span>
									<span>양재역점</span>
								</div>
								<div class="grade">
									<em style="width:80%"></em>
								</div>
								<p class="img"><img src="img/common/tmp5.png"></p>
								<div class="info">
									<p class="name">2014 BMW 520D</p>
									<p class="opt1">디젤 / 남색 / 50,000km</p>
									<p class="opt2">
										<span>블랙박스</span>
										<span>후방카메라</span>
										<span>통풍시트</span>
									</p>
								</div>
								<div class="price">
									<strong>10,000,000원</strong>
									<small>~ 12,000,000원</small>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- // car-list -->
		</div>


		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

