<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <meta charset="utf-8">
    <title>DOCHA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js" th:src="@{js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" src="js/mobiscroll.javascript.min.js"
            th:src="@{js/mobiscroll.javascript.min.js}"></script>
    <script type="text/javascript" src="js/front.js"></script>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>

    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jScrollPane.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/SelectBox.js"></script>
    <script type="text/javascript" src="js/jquery.scrollbar.js"></script>
    <script src="js/commonUtil.js"></script>

    <script src="js/moment.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="js/iziModal.js"></script>
    <script src="js/jquery.scrollbar.js"></script>

    <script src="js/mobiscroll.javascript.min.js"></script>
    <script src="js/jquery.alertable.js"></script>

    <script src="js/alertify.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/front.css">
</head>
<body>
<div id="wrap">
    <div id="header" class="bg-white">
        <h1 class="show"><a href="./index.html">DOCHA</a></h1>
        <div class="nav">
            <div class="gnb">
                <a href="./event.html">이벤트</a>
                <a href="./couponBook.html">쿠폰북</a>
                <a href="./FAQ.html">FAQ</a>
                <a href="./notice.html">공지사항</a>
                <a href="./inquiry.html">문의하기</a>
            </div>
            <div class="lnb">
                <a href="./login.html">로그인</a>
                <a href="./register.html">회원가입</a>
            </div>
        </div>
        <!--a href="#" class="btn-m"></a-->
    </div>

    <div class="login-wrap">
        <div class="login-box">
            <div class="login-in">
                <div class="login">
                    <h2>로그인</h2>
                    <div class="mb5"><input id="userId" type="email" class="inp-login" placeholder="이메일을 입력해 주세요."
                                            onkeyup="fn_chkUserId();">
                    </div>
                    <div class="mb5"><input id="userPassword" type="password" class="inp-login"
                                            placeholder="비밀번호를 입력해 주세요."></div>
                    <div class="etc">
                        <div class="chk">
                            <label><input type="checkbox" class="checkbox"><em></em><span>자동 로그인</span></label>
                        </div>
                        <div class="menu">
                            <a href="./find_id.html">아이디찾기</a>
                            <a href="./find_pw.html">비밀번호찾기</a>
                        </div>
                    </div>
                    <button id="btnLogin" class="btn-type2 bg-yellow btn-shadow block mb15">로그인</button>
                    <div class="text-center">
                        <a id="btnsignup" href="./register.html" class="register">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<form id="LoginPageForm" method="post">
    <input type="hidden" id="username" name="username" value=""/>
    <input type="hidden" id="password" name="password" value=""/>
    <input type="hidden" name="cmd" value="redirect"/>
    <input type="hidden" name="startDay" value="${preParam.startDay}"/>
    <input type="hidden" name="startWeekDay" value="${preParam.startWeekDay}"/>
    <input type="hidden" name="startAmPm" value="${preParam.startAmPm}"/>
    <input type="hidden" name="startTime" value="${preParam.startTime}"/>
    <input type="hidden" name="endDay" value="${preParam.endDay}"/>
    <input type="hidden" name="endWeekDay" value="${preParam.endWeekDay}"/>
    <input type="hidden" name="endAmPm" value="${preParam.endAmPm}"/>
    <input type="hidden" name="endTime" value="${preParam.endTime}"/>
    <input type="hidden" name="addr1" value="${preParam.addr1}"/>
    <input type="hidden" name="addr2" value="${preParam.addr2}"/>
    <input type="hidden" name="addr3" value="${preParam.addr3}"/>
    <input type="hidden" name="carTypeList" value="${preParam.carTypeList}"/>
    <input type="hidden" name="tabIdx" value="${preParam.tabIdx}"/>
</form>

<script th:inline="javascript">

    $(document).ready(function () {

        /*$('#loginFail').hide();
        if (window.location.href.indexOf('err_code=1') != -1) {
            $('#loginFail').text('아이디나 비밀번호가 맞지 않습니다. 다시 확인해주세요');
            $('#loginFail').show();
        } else if (window.location.href.indexOf('err_code=2') != -1) {
            $(this).css('color', 'red');
            $('#loginFail').show();
        }

        var alreadyUserId = '${alreadyUserId}';
        //이미 사용중인 아이디라면 경고
        if (alreadyUserId == 'true') {
            alertify.alert('', '이미 가입된 이력이 있습니다. 로그인해주세요.').set('onok', function (closeEvent) {

                $("#userId").focus();
            });

            return;
        }*/

        $("#userId").focus();
        $('#validation-email').hide();
        $('#validation-password').hide();
        $('#btnsignup').click(function () {
            location.href = "/user/register.do";
        });

        //아이디찾기 클릭시 본인인증 페이지로 이동
        $(document).on('click', '.id', function () {
            location.href = "/user/signup/certification.do?type=findid";
        });
        //비밀번호찾기  클릭시 본인인증 페이지로 이동
        $(document).on('click', '.pw', function () {
            location.href = "/user/signup/certification.do?type=findpw";
        });

        $('#userPassword').on('keypress', function (e) {
            var submitFlag = false;
            if ($('.alertify').length == 0) {
                if (e.keyCode == 13) {
                    submitFlag = true;
                }
            }

            if ($('.alertify').hasClass('ajs-hidden') == true) {
                if (e.keyCode == 13) {
                    submitFlag = true;
                }
            }

            if (submitFlag) {
                fn_login_validation();
            }
        });

        $('#btnLogin').on('click', function (e) {

            fn_login_validation();
        });
    });//end ready

    var googleLogin = document.getElementById('googleLogin');

    var popupGoogleLogin = function popupGoogleLogin(event) {
        gapi.auth2.getAuthInstance().signIn();
    }

    function init() {
         gapi.load('auth2', function() {
            gapi.auth2.init({
                client_id: '386295603245-7no99p5mm6kjc9ulr1djio8flbuvi2i4.apps.googleusercontent.com'
                , ux_mode: "popup"
                , scope: 'email'
            }).then(function () {
                googleLogin.onclick = popupGoogleLogin;
            });

        });
    }

    /*
     * id keyup event
     */
    function fn_chkUserId() {

        var retValue = false;
        var userId = $('#userId').val();

        if (!validateEmail(userId)) {
            $('#userId').css('color', 'red');
            $('#validation-email').show();
            retValue = false;

        } else {

            $('#userId').css('color', '#000');
            $('#validation-email').hide();
            retValue = true;
        }

        return retValue;
    }

    function validateEmail(elementValue) {
        var retValue = false;
        var regExp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

        if (!regExp.test(elementValue)) {
            retValue = false;
        } else {
            retValue = true;
        }

        return retValue;
    }

    function fn_login_validation() {

        var retValue = false;

        if (!validateEmail($('#userId').val())) {
            alert('올바른 이메일 형식이 아닙니다.');
            $('#userId').css('color', 'red');
            $('#validation-email').show();
            retValue = false;
            return retValue;
        } else if (!validateEmail($('#userId').val())) {
            retValue = true;
            return retValue;
        } else if (isEmpty($("#userPassword").val())) {
            alert('비밀번호를 입력하세요.');
            retValue = false;
            return retValue;
        } else if ($("#userPassword").val().trim().length < 4) {
            alert('비밀번호는 4자 이상입력하셔야 합니다.');
            return;
        } else {
            preSubmit();
        }
    }

    function preSubmit() {

        var url = "/user/login/chkUser.do";
        $.ajax({
            type: "get",
            url: url,
            data: {userId: $("#userId").val(), userPassword: $("#userPassword").val()},
            contentType: "application/json",  // ajax 통신으로 보내는 타입
            async:false,
            success: function (res) {
               location.href = "/user/login.do";
            }, error: function () {

            }
        }).done(function (res) {

            if (res.errCd == 3) {
                alertify.alert('', '등록된 회원이 아닙니다. \n 회원가입을 진행해주세요 \n 회원가입페이지로 이동합니다.').set('onok', function (closeEvent) {
                    location.href = "/user/register.do";
                });
                return;
            } else {
                fn_loginSubmit();
            }
        });
    }

    function fn_loginSubmit() {

        $('#LoginPageForm').attr('action', '/user/loginprocess.do');	 //pc

        $("#username").val($("#userId").val());
        $("#password").val($("#userPassword").val());

        $("#LoginPageForm").submit();
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrrRxK09KyAeWXWQkoqTeqIaNt_gcHrZc&callback=initMap"></script>
</body>
</html>