<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mainTopMenu">
    <div id="header" class="bg-white">
        <h1 class="show"><a href="/user/main.do">DOCHA</a></h1>
        <div class="nav">
                        <div class="gnb">
            <!--                <a href="/event.do">이벤트</a>-->
            <!--                <a href="/couponBook.do">쿠폰북</a>-->
            <!--                <a href="/faq.do">FAQ</a>-->
                            <a href="/notice.do">공지사항</a>
                            <a href="/questionList.do">문의하기</a>
                        </div>
            <div class="lnb" th:if="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT') == null}">
                <a href="/user/login.do">로그인</a>
                <a href="/user/signup.do">회원가입</a>
            </div>
            <div class="lnb" th:if="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT') != null}">
                <a href="/user/mypage.do">마이페이지</a>
                <a href="/logout">로그아웃</a>
            </div>
        </div>
        <a href="#" class="btn-m"></a>
    </div>
    <div class="m-gnb">
        <div class="scroller">
            <button class="btn-close">닫기</button>

            <!-- 로그인전 -->
            <div th:if="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT') == null}" class="before">
                <div class="text">
                    <a href="/user/login.do"><strong>로그인</strong></a>을 해주세요!
                </div>

                <div class="btn-box">
                    <div>
                        <button class="btn-type3 btn-m block" onclick="location.href = '/user/login.do'"><b>로그인</b></button>
                    </div>
                    <div>
                        <button class="btn-type3 btn-m block" onclick="location.href = '/user/signup.do'"><b>회원가입</b></button>
                    </div>
                </div>
            </div>

            <!-- 로그인후 -->
            <div th:if="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT') != null}" class="after">
                <div class="welcome">
                    반갑습니다.
                    <b th:text="${#httpSession.getAttribute('SPRING_SECURITY_CONTEXT').authentication.principal.getUserName() + ' 회원님!'}"></b>
                <div class="text-right">
                    <a href="/logout"><strong>로그아웃</strong></a>
                </div>
                </div>
                <div class="btns">
                    <a href="/user/mypage.do" class="b1">마이</a>
                    <a href="#" class="b3">예약확인</a>
                    <!--                    <a href="#" class="b2">견적확인</a>-->
                </div>
            </div>

                        <div class="nav">
                            <ul>
<!--                                <li class="m1"><a href="/event.do">이벤트</a></li>-->
<!--                                <li class="m2"><a href="/couponBook.do">쿠폰북</a></li>-->
<!--                                <li class="m3"><a href="/faq.do">FAQ</a></li>-->
                                <li class="m4"><a href="/notice.do">공지사항</a></li>
                                <li class="m5"><a href="/questionList.do">문의하기</a></li>
                            </ul>
                        </div>
        </div>
        <div class="cars">
            <p><img src="../../../img/common/txt_gnb.png"></p>
            <div class="txt">
                <p>문의전화 : 1661-3355</p>
                <div>서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
            </div>
        </div>

    </div>
    <p class="bg-gnb"></p>
</div>
</html>
</html>