<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mainFooter" id="main-foot">
  <div id="footer">
    <div class="inner">
      <p class="logo"><img src="../static/img/common/ic_logo_white.svg" alt=""></p>
      <div class="cs">
        <span>문의전화</span>
        <strong>1661-2666</strong>
        <div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
      </div>
      <div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>

      <br>
      <div class="companyInfo">
        상호명 : 주식회사 모빌리티케이 &nbsp;&nbsp;|&nbsp;&nbsp;
        사업자번호 : 605-88-01476 &nbsp;&nbsp;|&nbsp;&nbsp;
        대표자명 : 신윤호 &nbsp;&nbsp;|&nbsp;&nbsp;
        주소 : 서울특별시 금천구 가산디지털1로 168, B동 408호 &nbsp;&nbsp;|&nbsp;&nbsp;
        유선연락처 : 1661-2666
      </div>
    </div>
  </div>
</div>
</html>