<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../../static/css/front.css">
<script type="text/javascript" src="../../static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../static/js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="../../static/js/front.js"></script>

</head>
<body>
	
	<div id="wrap">

		<!-- top menu -->
		<div th:replace="top_menu :: topMenu"></div>

		<div class="sub-container328">
			<h2 class="h2"><span><em>후기작성</em></span></h2>
			<p class="tit3"><b>2014 BMW 520D</b></p>
			<p class="tit1 mb5">대여기간</p>
			<p class="txt2">19.09.11 09:00 ~ 19.09.12 17:00 (1일00시간)</p>
			
			<p class="tit1 mb5">회원사</p>
			<p class="txt2">000000렌터카 (000지점)</p>
			
			<hr class="hr2">
			
			<p class="tit1 blue1 mb5">별점등록</p>
			<div class="grade-input">
				<div class="grade">
					<em style="width:80%"></em>
				</div>
			</div>
			<p class="tit1 blue1 mb5">후기작성</p>
			<div class="mb40">
				<textarea class="textarea block" style="height: 100px" placeholder="내용을 입력해 주세요."></textarea>
			</div>
			
			<p class="tit1 blue1 mb5">사진등록</p>
			
			<div class="photos">
				<ul>
					<li><div class="img"><img src="../../static/img/common/tmp_photo.jpg"><button class="del"></button></div></li>
					<li><div class="img"><img src="../../static/img/common/tmp_photo.jpg"><button class="del"></button></div></li>
					<li><div class="img"><img src="../../static/img/common/tmp_photo.jpg"><button class="del"></button></div></li>
					<li><button id="btnReviewPhoto" class="add"></button></li>
				</ul>
				<script>
					$('#btnReviewPhoto').click(function () {
						location.href="/user/payment/reviews_photo.do"
					});
				</script>
			</div>
			
			
			<div class="bottom-area">
				<button id="btnRegisterReview" class="btn-type1 bg-blue2 block" >후기작성</button>
			</div>
			<script>
				$('#btnRegisterReview').click(function () {
					location.href="/user/payment/review/register.do";
				})
			</script>
		</div>


		<div th:replace="footer :: footer"></div>
	</div>
	
	

</body>
</html>

