<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DUCHA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/front.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/mobiscroll.javascript.min.js"></script>
<script type="text/javascript" src="js/front.js"></script>

</head>
<body style="overflow: hidden"><!-- 레이어 띄울떄 body 에 overflow:hidden 주는게 좋을듯 (배경 스크롤 해제) -->
	
	<div id="wrap" style="overflow: hidden">
		<div id="header">
			<h1><a href="#">DUCHA</a></h1>
			<div class="nav">
				<div class="gnb">
					<a href="#">이벤트</a>
					<a href="#">쿠폰북</a>
					<a href="#">FAQ</a>
					<a href="#">공지사항</a>
					<a href="#">문의하기</a>
				</div>
				<div class="lnb">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
			</div>
				<a href="#" class="btn-m"></a>
		</div>
		
		<div class="sub-container1060">
			내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용
		</div>
		
		<!-- 후기사진 레이어 -->
		<div class="rent-after-view">
			<div class="body">
				<div class="info-box">
					<div class="loc">
						<span>두차렌터카</span>
						<span>양재역점</span>
					</div>
					<div class="grade">
						<em style="width:80%"></em>
					</div>
					<div class="info">
						<p class="name">2014 BMW 520D</p>
						<p class="opt1">디젤 / 남색 / 50,000km</p>
						<p class="opt2">
							<span>블랙박스</span>
							<span>후방카메라</span>
							<span>통풍시트</span>
						</p>
					</div>
					
					<div class="user-comment">
						<div class="grade">
							<em style="width:80%"></em>
						</div>
						<p class="mail">S1234@naver.com</p>
						<div class="cmt-text">너무 깨끗하고 친철해요! 여행 잘 다녀왔어요</div>
					</div>
				</div>
				
				<div class="slider-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><a href="img/common/tmp_review.png" target="_blank"><img src="img/common/tmp_review.png"></a></div>
							<div class="swiper-slide"><a href="img/common/tmp_review.png" target="_blank"><img src="img/common/tmp_review.png"></a></div>
							<div class="swiper-slide"><a href="img/common/tmp_review.png" target="_blank"><img src="img/common/tmp_review.png"></a></div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
				<a href="#" class="btn-close"></a>
			</div>
			<p class="bg-view"></p>

		</div>
		<!-- // 후기사진 레이어 -->

		<div id="footer">
			<div class="inner">
				<p class="logo"><img src="img/common/foot_logo.png" alt=""></p>
				<div class="cs">
					<span>문의전화</span>
					<strong>1661-2666</strong>
					<div>*서비스센터 운영시간<br>평일 09:00 ~ 18:00<br>점심시간 12:00 ~ 13:00</div>
				</div>
				<div class="addr">Copyright ⓒMobility K Inc. All rights reserved.</div>
			</div>
		</div>
	</div>
	
	

</body>
</html>

