<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<style>

.reviewFile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


#star a{ 
	text-decoration: none; 
	color: gray; 
	font-size : 4.0em; 
} 
#star a.on{
 color: red;
}
</style>
<body>
	<script>
		src="https://code.jquery.com/jquery-3.3.1.min.js";
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=";
		crossorigin="anonymous"
	</script>
	<div id="wrap">
		<form method="post" id="contentsForm" action="">
			<!-- top menu -->
			<div th:replace="top_menu :: topMenu"></div>
	
			<div class="sub-container328">
				<h2 class="h2"><span><em>후기작성</em></span></h2>
				<p class="tit3"><b th:text="${reserveInfo.year} + ${reserveInfo.modelName}  + ${reserveInfo.modelDetailName}">2014 BMW 520D</b></p> 
				<p class="tit1 mb5" >대여기간</p>
				<p class="txt2" id="dateTimeInfo" ></p>
				<p class="tit1 mb5">회원사</p>
				<p class="txt2" th:text="${reserveInfo.companyName} + ' (' + ${reserveInfo.branchName} +')' ">000000렌터카 (000지점)</p>
				
				<hr class="hr2">
				
				<p class="tit1 blue1 mb5">별점등록</p>
				<div class="grade-input">
					<P id="star"> 
						<a href="javascript:void(0);" class="on">★</a>
						<a href="javascript:void(0);">★</a> 
						<a href="javascript:void(0);">★</a> 
						<a href="javascript:void(0);">★</a> 
						<a href="javascript:void(0);">★</a> 
					<p>
				</div>
				<p class="tit1 blue1 mb5">후기작성</p>
				<div class="mb40">
					<textarea id="comment" name="comment" class="textarea block" style="height: 100px" placeholder="내용을 입력해 주세요."></textarea>
				</div>
				
				<p class="tit1 blue1 mb5">사진등록</p>
				<div class="photos">
					<ul id="reviewFileUl">
						<li>
							<button type="button" class="add" onclick="addImg(this)"></button>
							<input type="file" class="reviewFile" name="reviewFile" />
							<img class="preview" />
						</li>
						<li>
							<button type="button" class="add" onclick="addImg(this)"></button>
							<input type="file" class="reviewFile" name="reviewFile" />
							<img class="preview" />
						</li>
						<li>
							<button type="button" class="add" onclick="addImg(this)"></button>
							<input type="file" class="reviewFile" name="reviewFile" />
							<img class="preview" />
						</li>
						<li>
							<button type="button" class="add" onclick="addImg(this)"></button>
							<input type="file" class="reviewFile" name="reviewFile" />
							<img class="preview" />
						</li>
					</ul>  
				</div>
				<div class="bottom-area">
					<button type="button" id="btnRegisterReview" class="btn-type1 bg-blue2 block" >후기작성</button>
				</div>
			</div>
	
	
			<div th:replace="footer :: footer"></div>
		</form>	
	</div>
	<script th:inline="javascript">
	
		// 변수 start
		var preParam = /*[[${preParam}]]*/ '0';
		var reserveInfo = /*[[${reserveInfo}]]*/ '0';
		var timeDiff = /*[[${timeDiff}]]*/ '0;'
		
		// 이미지 시작 dom
    	var initDom = function(){
			var html = 
				'<button type="button" class="add" onclick="addImg(this)"></button>'+
				'<input type="file" class="reviewFile" name="reviewFile" />'+
				'<img class="preview" />';
			return html;
		};
	
		// 이미지 onload dom 
		var afterDom = function(bin){
			var html =
				'<div class="img" position="absolute">'+
					'<img src="'+bin+'">'+
					'<button type="button" class="del" onclick="removeImg(this);" ></button>'+
				'</div>';
			return html;
		};	
		// 변수 end
		
		$(document).ready(function () {
			initializingPageData();    
			addEvent();
		});
		
		// init
		function initializingPageData(){
			settingComponent();
		}
        
		// 컴포넌트 정의
		function settingComponent(){
	        var startDay = reserveInfo.rentStartDay.replace(/\-/g, '.') + ' '+reserveInfo.rentStartTime;
	        var endDay = reserveInfo.rentEndDay.replace(/\-/g, '.') + ' '+reserveInfo.rentEndTime;

	        startDay = startDay.substr(2,startDay.length)
	        endDay = endDay.substr(2,endDay.length)
	        
	        $('#dateTimeInfo').text(startDay + ' ~ ' + endDay + ' (' + timeDiff + ')');
		}
		
		// 이벤트 정의
		function addEvent(){
    		
			// 후기별점 event
			$('#star a').bind('click',function(){
				$(this).parent().children("a").removeClass("on"); 
				$(this).addClass("on").prevAll("a").addClass("on");  
			});
			
			// 파일 프리뷰 
            $(".reviewFile").bind('change' ,function (file) {
            	var fileTypes = ['jpg', 'jpeg', 'png'];
				var target = $(this).closest('li');
				
                if(this.files && this.files[0]) {
                	var extension = this.files[0].name.split('.').pop().toLowerCase(),  
                    isSuccess = fileTypes.indexOf(extension) > -1;
                    if (isSuccess) { 
                    	//$(target).closest('li').empty();  
                    	$(target).closest('li').find('button').remove();
                    	$(target).closest('li').find('img').remove();
                        var reader = new FileReader; 
                        reader.onload = function (data) {
                        	$(target).append(afterDom(data.target.result));
                        };
                        reader.readAsDataURL(this.files[0]);
                    }else{
                    	alert('지원하지 않는 파일형태 입니다.');
                    	return false;
                    }
                }
            });
            
            // 등록하기 클릭 이벤트
            $('#btnRegisterReview').bind('click' , function(){
            	validation();
            });
            
		}
		
		// 이미지 추가
		function addImg(target){
			$(target).next().click();
		}
		
		// 이미지 제거
		function removeImg(target){
			var li_target = $(target).closest('li');
			$(li_target).empty();
			$(li_target).append(initDom());
			addEvent();
		}
		
		// validation
		function validation(){

			if( $('#comment').val().length == 0 ){
				alert('내용을 작성해주세요.');
				return;
			}
			
			preSubmit();
		}
		
		// 가공
		function preSubmit(){
			submit();
		}
		
		// 전송
		function submit(){
			
			// 별점 가공
			var starCnt = 0;
			$('#star a').each(function(){
				if($(this).hasClass('on')){
					starCnt++;
				}
			});
			
            var formData = new FormData($('#contentsForm')[0]);
            formData.append('rmIdx' , reserveInfo.rmIdx);
            formData.append("rating", starCnt );          

            $.ajax({
                data : formData,  
                type : "POST",
                enctype: 'multipart/form-data',
				url: "/payment/reviewReg.json",
                contentType : false,
                processData : false,
                success : function(res) {
                	if( res.response_code == '200'){
                        alertify.confirm("작성하였습니다.", function (e) {
                            if (e) {
                                location.href = '/user/main.do'; 
                            }
                        });
                	}
                }
            });
		}
		
	</script>
	

</body>
</html>

