<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohdocha.cu.kprojectcu.mapper.DochaUserInfoDao">

    <select id="selectUserInfo" parameterType="DochaUserInfoDto" resultType="DochaUserInfoDto">
        <![CDATA[
				SELECT
			       IFNULL(UR_IDX                  , '' )  AS UR_IDX						/* 	회원IDX 			*/
			    ,  IFNULL(USER_ID                 , '' )  AS USER_ID                  	/*  회원ID 			*/
			    ,  IFNULL(USER_PASSWORD           , '' )  AS USER_PASSWORD            	/* 	비밀번호 			*/
			    ,  IFNULL(USER_DUP_INFO           , '' )  AS USER_DUP_INFO            	/* 	본인인증id 			*/
			    ,  IFNULL(USER_STATUS_CODE        , '' )  AS USER_STATUS_CODE         	/* 	회원상태코드 		*/
			    ,  IFNULL(USER_NAME               , '' )  AS USER_NAME                	/* 	이름 				*/	
			    ,  IFNULL(USER_BIRTHDAY           , '' )  AS USER_BIRTHDAY            	/* 	생년월일 			*/
			    ,  IFNULL(USER_CONTACT1           , '' )  AS USER_CONTACT1            	/* 	연락처1 			*/
			    ,  IFNULL(USER_CONTACT2           , '' )  AS USER_CONTACT2            	/* 	연락처2 			*/
			    ,  IFNULL(USER_GENDER             , '' )  AS USER_GENDER              	/* 	성별CODE 			*/
			    ,  IFNULL(USER_ZIPCODE            , '' )  AS USER_ZIPCODE             	/* 	우편번호 			*/
			    ,  IFNULL(USER_ADDRESS            , '' )  AS USER_ADDRESS             	/* 	주소 				*/
			    ,  IFNULL(USER_ADDRESS_DETAIL     , '' )  AS USER_ADDRESS_DETAIL      	/* 	상세주소 			*/
			    ,  IFNULL(USER_IDENTITY_AUTH_YN   , '' )  AS USER_IDENTITY_AUTH_YN    	/* 	본인인증여부 		*/
			    ,  IFNULL(USER_IDENTITY_AUTH_DATE , '' )  AS USER_IDENTITY_AUTH_DATE      /* 	인증일자 			*/
			    ,  IFNULL(USER_CI                 , '' )  AS USER_CI                      /* 	USER_CI 		*/
			    ,  IFNULL(USER_DI                 , '' )  AS USER_DI                      /* 	USER_DI 		*/
			    ,  IFNULL(USER_NATIONAL_CODE      , '' )  AS USER_NATIONAL_CODE           /*  내/외국인 구분 		*/
			    ,  IFNULL(USER_CERT_TYPE          , '' )  AS USER_CERT_TYPE               /* 	인증서유형 			*/
			    ,  IFNULL(USER_GRADE_CODE         , '' )  AS USER_GRADE_CODE              /* 	회원등급 			*/
			    ,  IFNULL(USER_ROLE               , '' )  AS USER_ROLE                    /* 	멤버역할(ROLE) 	*/
			    ,  IFNULL(RT_IDX                  , '' )  AS RT_IDX                       /* 	회원사DIX 		*/
			    ,  IFNULL(USER_GROUP_CODE         , '' )  AS USER_GROUP_CODE              /* 	회원분류코드 		*/
			    ,  IFNULL(USER_LICENSE_OWN_YN     , '' )  AS USER_LICENSE_OWN_YN          /* 	면허소유여부 		*/
			    ,  IFNULL(USER_PAY_REGISTER_YN    , '' )  AS USER_PAY_REGISTER_YN         /* 	결제수단등록여부 	*/
			    ,  IFNULL(CORPORATION_IDX         , '' )  AS CORPORATION_IDX              /* 	법인IDX 			*/
			    ,  IFNULL(USER_PUSH_AGREE_YN      , '' )  AS USER_PUSH_AGREE_YN           /* 	PUSH동의여부 		*/
			    ,  IFNULL(JOIN_CHANNEL            , '' )  AS JOIN_CHANNEL                 /* 	가입경로 			*/
			    ,  IFNULL(SOCIAL_LOGIN_PATH       , '' )  AS SOCIAL_LOGIN_PATH            /* 	연동로그인경로 		*/
			    ,  IFNULL(SOCIAL_LOGIN_EMAIL      , '' )  AS SOCIAL_LOGIN_EMAIL           /* 	연동로그인메일 		*/
			    ,  IFNULL(USER_WITHDRAW_DATE      , '' )  AS USER_WITHDRAW_DATE           /* 	회원탈퇴일시 		*/
			    ,  IFNULL(LOGIN_FAIL_COUNT        , 0 )  AS LOGIN_FAIL_COUNT             /* 	로그인시도횟수 		*/
				,  DATE_FORMAT(REG_DT             ,  '%Y%m%d')  AS    REG_DT         			/*   등록일시           */
				,  IFNULL(REG_ID                  , '' )  AS  				REG_ID         			/*   등록자             */
				,  DATE_FORMAT(MOD_DT             ,  '%Y%m%d')  AS    MOD_DT         			/*   수정일시           */
				,  IFNULL(MOD_ID				  , '' )  AS  				MOD_ID         			/*   수정자             */
					FROM DC_USER_INFO
         ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="userId != null and userId != ''">
                <![CDATA[ USER_ID = #{userId} ]]>
            </if>
            <if test="userPassword != null and userPassword != ''">
                <![CDATA[AND USER_PASSWORD = #{userPassword}]]>
            </if>
            <if test="userDupInfo != null and userDupInfo != ''">
                <![CDATA[AND USER_DUP_INFO = #{userDupInfo}]]>
            </if>
            <if test="userContact1 != null and userContact1 != ''">
                <![CDATA[AND USER_CONTACT1 = #{userContact1} ]]>
            </if>
            <if test="userCi != null and userCi != ''">
                <![CDATA[AND USER_CI = #{userCi} ]]>
            </if>
            <if test="urIdx != null and urIdx != ''">
                <![CDATA[AND UR_IDX = #{urIdx} ]]>
            </if>
            <if test="userName != null and userName != ''">
                <![CDATA[AND USER_NAME = #{userName} ]]>
            </if>
        </trim>
    </select>

    <!-- 신규회원 email 회원가입 -->
    <insert id="insertUserInfo" parameterType="DochaUserInfoDto">
	    <![CDATA[



                                                            INSERT INTO DC_USER_INFO
                                                            (
                                                               UR_IDX
                                                            ,  USER_ID
                                                            ,  USER_PASSWORD
                                                            ,  USER_DUP_INFO
                                                            ,  USER_STATUS_CODE
                                                            ,  USER_NAME
                                                            ,  USER_BIRTHDAY
                                                            ,  USER_CONTACT1
                                                            ,  USER_CONTACT2
                                                            ,  USER_GENDER
                                                            ,  USER_ZIPCODE
                                                            ,  USER_ADDRESS
                                                            ,  USER_ADDRESS_DETAIL
                                                            ,  USER_IDENTITY_AUTH_YN
                                                            ,  USER_IDENTITY_AUTH_DATE
                                                            ,  USER_CI
                                                            ,  USER_DI
                                                            ,  USER_NATIONAL_CODE
                                                            ,  USER_CERT_TYPE
                                                            ,  USER_GRADE_CODE
                                                            ,  USER_ROLE
                                                            ,  RT_IDX
                                                            ,  USER_GROUP_CODE
                                                            ,  USER_LICENSE_OWN_YN
                                                            ,  USER_PAY_REGISTER_YN
                                                            ,  CORPORATION_IDX
                                                            ,  USER_PUSH_AGREE_YN
                                                            ,  JOIN_CHANNEL
                                                            ,  SOCIAL_LOGIN_PATH
                                                            ,  SOCIAL_LOGIN_EMAIL
                                                            ,  USER_WITHDRAW_DATE
                                                            ,  LOGIN_FAIL_COUNT
                                                            ,  REG_DT
                                                            ,  REG_ID
                                                            ,  MOD_DT
                                                            ,  MOD_ID
                                                            )
                                                            VALUES
                                                            (
                                                               #{urIdx}
                                                            ,  #{userId}
                                                            ,  #{userPassword}
                                                            ,  #{userDupInfo}
                                                            ,  #{userStatusCode}
                                                            ,  #{userName}
                                                            ,  #{userBirthday}
                                                            ,  #{userContact1}
                                                            ,  #{userContact2}
                                                            ,  #{userGender}
                                                            ,  #{userZipCode}
                                                            ,  #{userAddress}
                                                            ,  #{userAddressDetail}
                                                            ,  #{userIdentityAuthYn}
                                                            ,  #{userIdentityAuthDate}
                                                            ,  #{userCi}
                                                            ,  #{userDi}
                                                            ,  #{userNationalCode}
                                                            ,  #{userCertType}
                                                            ,  #{userGradeCode}
                                                            ,  #{userRole}
                                                            ,  #{rtIdx}
                                                            ,  #{userGroupCode}
                                                            ,  #{userLicenseOwnYn}
                                                            ,  #{userPayRegisterYn}
                                                            ,  #{corporationIdx}
                                                            ,  #{userPushAgreeYn}
                                                            ,  #{joinChannel}
                                                            ,  #{socialLoginPath}
                                                            ,  #{socialLoginEmail}
                                                            ,  #{userWithdrawDate}
                                                            ,  #{loginFailCount}
                                                            ,  NOW()
                                                            ,  #{regId}
                                                            ,  NOW()
                                                            ,  #{modId}
                                                            )


        ]]>
    </insert>

    <!--내정보 수정-->
    <update id="updateUserInfo" parameterType="DochaUserInfoDto">
        <![CDATA[ UPDATE DC_USER_INFO ]]>
        <trim prefix="set" suffixOverrides=",">
            <if test="userPassword != null and userPassword != ''">
                <![CDATA[ USER_PASSWORD = #{userPassword} , ]]>
            </if>
            <if test="userName != null and userName != ''">
                <![CDATA[ USER_NAME = #{userName} , ]]>
            </if>
            <if test="userContact1 != null and userContact1 != ''">
                <![CDATA[ USER_CONTACT1 = #{userContact1} , ]]>
            </if>
            <if test="userBirthday != null and userBirthday != ''">
                <![CDATA[ USER_BIRTHDAY = #{userBirthday}  ,  ]]>
            </if>
            <if test="userGender != null and userGender != ''">
                <![CDATA[ USER_GENDER = #{userGender}  , ]]>
            </if>
        </trim>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="urIdx != null and urIdx != ''">
                <![CDATA[ UR_IDX = #{urIdx} ]]>
            </if>
        </trim>
    </update>

    <!-- 신규회원 email 회원가입 -->
    <delete id="deleteUserInfo" parameterType="DochaUserInfoDto">
	    <![CDATA[


                                                    DELETE FROM DC_USER_INFO WHERE UR_IDX = #{urIdx}


        ]]>
    </delete>

    <!-- 회원중복쳌크 -->
    <select id="selectUserInfoCnt" parameterType="DochaUserInfoDto" resultType="int">
        <![CDATA[
				SELECT 
				      COUNT(USER_ID) AS cntUser
					FROM   DC_USER_INFO
         ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="userId != null and userId != ''">
                <![CDATA[ USER_ID = #{userId} ]]>
            </if>
            <if test="userPassword != null and userPassword != ''">
                <![CDATA[AND USER_PASSWORD = #{userPassword}]]>
            </if>
            <if test="userContact1 != null and userContact1 != ''">
                <![CDATA[AND USER_CONTACT1 = #{userContact1} ]]>
            </if>
            <if test="userCi != null and userCi != ''">
                <![CDATA[AND USER_CI = #{userCi} ]]>
            </if>
            <if test="urIdx != null and urIdx != ''">
                <![CDATA[AND UR_IDX = #{urIdx} ]]>
            </if>
            <![CDATA[ AND 'WD' <> IFNULL(USER_STATUS_CODE, ' ')  ]]>
        </trim>
    </select>

    <insert id="insertUserActionData" parameterType="DochaUserActionDto">
    
    	INSERT INTO DC_USER_ACTION_HIS(
    	       UR_IDX
    	,	   PAGE_URL
    	,      LAT
    	,      LNG
    	,      REG_DT )
    	VALUES(
    		   #{urIdx}
    	,      #{pageUrl}
    	,      #{lati}
    	,      #{longti}
    	,      NOW()
    	)

    </insert>

    <select id="selectOperatorList" parameterType="DochaMap" resultType="DochaUserInfoDto">
	
				SELECT 
			       IFNULL(UR_IDX                  , '' )  AS UR_IDX						/* 	회원IDX 			*/            
			    ,  IFNULL(USER_ID                 , '' )  AS USER_ID                  	/*  회원ID 			*/
			    ,  IFNULL(USER_PASSWORD           , '' )  AS USER_PASSWORD            	/* 	비밀번호 			*/
			    ,  IFNULL(USER_STATUS_CODE        , '' )  AS USER_STATUS_CODE         	/* 	회원상태코드 		*/
			    ,  IFNULL(USER_NAME               , '' )  AS USER_NAME                	/* 	이름 				*/	
			    ,  IFNULL(USER_BIRTHDAY           , '' )  AS USER_BIRTHDAY            	/* 	생년월일 			*/
			    ,  IFNULL(USER_CONTACT1           , '' )  AS USER_CONTACT1            	/* 	연락처1 			*/
			    ,  IFNULL(USER_CONTACT2           , '' )  AS USER_CONTACT2            	/* 	연락처2 			*/
			    ,  IFNULL(USER_GENDER             , '' )  AS USER_GENDER              	/* 	성별CODE 			*/
			    ,  IFNULL(USER_ZIPCODE            , '' )  AS USER_ZIPCODE             	/* 	우편번호 			*/
			    ,  IFNULL(USER_ADDRESS            , '' )  AS USER_ADDRESS             	/* 	주소 				*/
			    ,  IFNULL(USER_ADDRESS_DETAIL     , '' )  AS USER_ADDRESS_DETAIL      	/* 	상세주소 			*/
			    ,  IFNULL(USER_IDENTITY_AUTH_YN   , '' )  AS USER_IDENTITY_AUTH_YN    	/* 	본인인증여부 		*/	
			    ,  IFNULL(USER_IDENTITY_AUTH_DATE , '' )  AS USER_IDENTITY_AUTH_DATE      /* 	인증일자 			*/
			    ,  IFNULL(USER_CI                 , '' )  AS USER_CI                      /* 	USER_CI 		*/
			    ,  IFNULL(USER_DI                 , '' )  AS USER_DI                      /* 	USER_DI 		*/
			    ,  IFNULL(USER_NATIONAL_CODE      , '' )  AS USER_NATIONAL_CODE           /*  내/외국인 구분 		*/
			    ,  IFNULL(USER_CERT_TYPE          , '' )  AS USER_CERT_TYPE               /* 	인증서유형 			*/
			    ,  IFNULL(USER_GRADE_CODE         , '' )  AS USER_GRADE_CODE              /* 	회원등급 			*/
			    ,  IFNULL(USER_ROLE               , '' )  AS USER_ROLE                    /* 	멤버역할(ROLE) 	*/
			    ,  IFNULL(RT_IDX                  , '' )  AS RT_IDX                       /* 	회원사DIX 		*/
			    ,  IFNULL(USER_GROUP_CODE         , '' )  AS USER_GROUP_CODE              /* 	회원분류코드 		*/
			    ,  IFNULL(USER_LICENSE_OWN_YN     , '' )  AS USER_LICENSE_OWN_YN          /* 	면허소유여부 		*/
			    ,  IFNULL(USER_PAY_REGISTER_YN    , '' )  AS USER_PAY_REGISTER_YN         /* 	결제수단등록여부 	*/
			    ,  IFNULL(CORPORATION_IDX         , '' )  AS CORPORATION_IDX              /* 	법인IDX 			*/
			    ,  IFNULL(USER_PUSH_AGREE_YN      , '' )  AS USER_PUSH_AGREE_YN           /* 	PUSH동의여부 		*/
			    ,  IFNULL(JOIN_CHANNEL            , '' )  AS JOIN_CHANNEL                 /* 	가입경로 			*/
			    ,  IFNULL(SOCIAL_LOGIN_PATH       , '' )  AS SOCIAL_LOGIN_PATH            /* 	연동로그인경로 		*/
			    ,  IFNULL(SOCIAL_LOGIN_EMAIL      , '' )  AS SOCIAL_LOGIN_EMAIL           /* 	연동로그인메일 		*/
			    ,  IFNULL(USER_WITHDRAW_DATE      , '' )  AS USER_WITHDRAW_DATE           /* 	회원탈퇴일시 		*/
			    ,  IFNULL(LOGIN_FAIL_COUNT        , '' )  AS LOGIN_FAIL_COUNT             /* 	로그인시도횟수 		*/
				,  DATE_FORMAT(REG_DT              ,  '%Y%m%d')  AS    REG_DT         			/*   등록일시           */
				,  IFNULL(REG_ID                  , '' )  AS  				REG_ID         			/*   등록자             */
				,  DATE_FORMAT(MOD_DT              ,  '%Y%m%d')  AS    MOD_DT         			/*   수정일시           */
				,  IFNULL(MOD_ID				   , '' )  AS  				MOD_ID         			/*   수정자             */
				FROM   
				DC_USER_INFO
				WHERE USER_ROLE = 'OP'       
	
	</select>

    <!--운전 면허 등록-->
    <insert id="insertUserLicense" parameterType="DochaUserInfoDto">
    <![CDATA[




                                        INSERT INTO DC_USER_LICENSE_INFO(
                                               UR_IDX
                                        ,      UL_IDX
                                        ,      LICENSE_CODE
                                        ,      LICENSE_LOCATION
                                        ,      LICENSE_NUMBER
                                        ,      LICENSE_EXPIRATION
                                        ,      LICENSE_ISSUE_DT)
                                        VALUES(
                                               #{urIdx}
                                        ,	   #{ulIdx}
                                        ,      #{licenseCode}
                                        ,      #{licenseLocation}
                                        ,      #{licenseNumber}
                                        ,      #{licenseExpiration}
                                        ,      #{licenseIssueDt}
                                        )




        ]]>
    </insert>

    <!--운전 면허 수정-->
    <update id="updateUserLicense" parameterType="DochaUserInfoDto">
        <![CDATA[  UPDATE DC_USER_LICENSE_INFO ]]>
        <trim prefix="set" suffixOverrides=",">
            <if test="licenseCode != null and licenseCode != ''">
                <![CDATA[ LICENSE_CODE = #{licenseCode} , ]]>
            </if>
            <if test="licenseLocation != null and licenseLocation != ''">
                <![CDATA[ LICENSE_LOCATION = #{licenseLocation} , ]]>
            </if>
            <if test="licenseNumber != null and licenseNumber != ''">
                <![CDATA[ LICENSE_NUMBER = #{licenseNumber}  ,  ]]>
            </if>
            <if test="licenseExpiration != null and licenseExpiration != ''">
                <![CDATA[ LICENSE_EXPIRATION = #{licenseExpiration}  , ]]>
            </if>
            <if test="licenseIssueDt != null and licenseIssueDt != ''">
                <![CDATA[ LICENSE_ISSUE_DT = #{licenseIssueDt}  , ]]>
            </if>
        </trim>
        <![CDATA[ WHERE UR_IDX = #{urIdx} ]]>
        <!--
                <trim prefix="WHERE" prefixOverrides="AND|OR">
                    <if test="urIdx != null and urIdx != ''">
                        <![CDATA[ UR_IDX = #{urIdx} ]]>
                    </if>
                </trim>
        -->
    </update>

    <!-- 면허중복체크 -->
    <select id="selectLicenseCnt" parameterType="DochaUserInfoDto" resultType="int">
        <![CDATA[


                                SELECT
                                      COUNT(UR_IDX) AS cntLicense
                                FROM  DC_USER_LICENSE_INFO
                                WHERE UR_IDX = #{urIdx}


        ]]>
    </select>

    <!--면허 정보 선택-->
    <select id="selectLicenseInfo" parameterType="DochaUserInfoDto" resultType="DochaUserInfoDto">
        <![CDATA[


                            SELECT UR_IDX, LICENSE_CODE, LICENSE_LOCATION, LICENSE_NUMBER, LICENSE_EXPIRATION, LICENSE_ISSUE_DT
                            FROM DC_USER_LICENSE_INFO
                            WHERE UR_IDX = #{urIdx}


        ]]>
    </select>

    <!--카드 등록-->
    <insert id="insertUserCard" parameterType="DochaUserInfoDto">
    <![CDATA[


                                        INSERT INTO DC_USER_CARD_INFO(
                                               UR_IDX
                                        ,      PM_IDX
                                        ,      BANK_NAME
                                        ,      CARD_NUMBER
                                        ,      CARD_EXPIRATION
                                        ,      USER_BIRTH
                                        )
                                        VALUES(
                                               #{urIdx}
                                        ,	   #{pmIdx}
                                        ,      #{bankName}
                                        ,      #{cardNumber}
                                        ,      #{cardExpiration}
                                        ,      #{userBirth}
                                        )


        ]]>
    </insert>

    <select id="selectCardInfo" parameterType="DochaUserInfoDto" resultType="DochaUserInfoDto">

				SELECT
			       IFNULL(UR_IDX              , '' )  AS UR_IDX             	/*  	회원IDX 		*/
			    ,  IFNULL(CARD_NUMBER         , '' )  AS CARD_NUMBER         	/*  	카드번호 	*/
			    ,  IFNULL(CARD_EXPIRATION     , '' )  AS CARD_EXPIRATION        /*  	유효기간		*/
			    ,  IFNULL(BANK_NAME           , '' )  AS BANK_NAME              /*      은행명       */
				FROM
				    DC_USER_CARD_INFO
				WHERE
				    UR_IDX = #{urIdx} AND DELETE_YN = 'N';

	</select>

    <!--카드 삭제-->
    <update id="deleteCardInfo" parameterType="DochaUserInfoDto">
        <![CDATA[ UPDATE DC_USER_CARD_INFO ]]>
        <trim prefix="set" suffixOverrides=",">
            <![CDATA[ DELETE_YN = 'Y' , ]]>
            <![CDATA[ DELETE_TIME = NOW()]]>
        </trim>
        <![CDATA[ WHERE CARD_NUMBER = #{cardNumber} ]]>
    </update>
    
    <!--마이페이지 회원정보-->
    <select id="selectMypageUserInfo" parameterType="DochaUserInfoDto" resultType="DochaUserInfoDto">
        <![CDATA[


                            SELECT UR_IDX, USER_NAME, USER_BIRTHDAY, USER_CONTACT1
                            FROM DC_USER_INFO
                            WHERE UR_IDX = #{urIdx}


        ]]>
    </select>
</mapper>