<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohdocha.cu.kprojectcu.mapper.DochaMenuDao">

   <select id="getNoticeList" resultType="dochaNoticeDto">
		SELECT 
			NT_IDX
			, NT_TITLE
			, NT_CONTENT
			, REG_ID
			, REG_DT
			, MOD_ID
			, MOD_DT
		FROM DC_NOTICE
		ORDER BY REG_DT DESC
		
    </select>
</mapper>