<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohdocha.cu.kprojectcu.mapper.DochaMenuDao">

   <select id="getNoticeList" resultType="dochaNoticeDto">
		SELECT 
			NT_IDX
			, NT_TITLE
			, NT_CONTENT
			, IMG_IDX
			, REG_ID
			, REG_DT
			, MOD_ID
			, MOD_DT
		FROM DC_NOTICE
		ORDER BY REG_DT DESC
		
    </select>
    
    <select id="getQuestionList" parameterType="dochaQuestionDto" resultType="dochaQuestionDto">
		SELECT 
			IFNULL(QU_IDX, "")			AS QU_IDX
			, IFNULL(QU_TITLE, "")		AS QU_TITLE
			, IFNULL(QU_CONTENTS, "")	AS QU_CONTENTS
			, IFNULL(QUESTIONER_ID, "") AS QUESTIONER_ID
			, IFNULL(QUESTIONER_PHONE, "") AS QUESTIONER_PHONE
			, IFNULL(QUESTION_DT, "")	AS QUESTION_DT
			, IF(QU_ANSWER_YN = 1, QU_ANSWER, "")		AS QU_ANSWER
			, IFNULL(QU_ANSWER_YN, "")	AS QU_ANSWER_YN
			, IFNULL(ANSWERER_ID, "")	AS ANSWERER_ID
			, IFNULL(ANSWER_DT, "")		AS ANSWER_DT
			, IFNULL(IMG_IDX, "")		AS IMG_IDX
		FROM DC_QUESTION

		<trim prefix="WHERE">
			<if test="quIdx != null and quIdx != ''">
				<![CDATA[ QUESTIONER_ID = #{quIdx} ]]>
			</if>
		</trim>


		ORDER BY QU_IDX DESC
		
    </select>
    
    <insert id="insertQuestion" parameterType="dochaQuestionDto">
	    <![CDATA[
			INSERT INTO DC_QUESTION(
				QU_TITLE
				, QU_CONTENTS
				, QUESTIONER_ID
				, QUESTIONER_PHONE
				, QUESTION_DT
				, QU_ANSWER_YN
	    	)VALUES (
				 #{quTitle}
			    , #{quContents}
			    , #{questionId}
			    , #{questionerPhone}
			    , now()
			    , 0
			)
			
			]]>
    </insert>

	<select id="getPresentEventList" parameterType="DochaMap" resultType="DochaEventDto" >

		SELECT
			   EV_IDX                                                    	        /* 이벤트 IDX */
		,      IFNULL(EV_IMG_IDX 		    , '' ) 				AS EV_IMG_IDX	 	/* 이벤트 사진 */
		,      IFNULL(EV_START_DT 		    , '' ) 				AS EV_START_DT	 	/* 이벤트 시작기간 */
		,      IFNULL(EV_END_DT			    , '' ) 				AS EV_END_DT	    /* 이벤트 종료기간 */
		,      IFNULL(EV_TITLE       , '' ) 				    AS EV_TITLE     	/* 이벤트 제목	*/
		,      IFNULL(EV_CONTENT       , '' ) 				    AS EV_CONTENT     	/* 이벤트 내용	*/
		,      IFNULL(REG_DT       , '' ) 				    AS REG_DT     			/* 생성 시간 */
		FROM   DC_EVENT
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="evIdx != null and evIdx != '' " >
				T1.evIdx = #{evIdx}
			</if>
				NOW() >= EV_START_DT
				AND
				EV_END_DT >= NOW()
				ORDER BY REG_DT DESC;
		</trim>


	</select>

	<select id="getPastEventList" parameterType="DochaMap" resultType="DochaEventDto" >

		SELECT
		EV_IDX                                                    	        /* 이벤트 IDX */
		,      IFNULL(EV_IMG_IDX 		    , '' ) 				AS EV_IMG_IDX	 	/* 이벤트 사진 */
		,      IFNULL(EV_START_DT 		    , '' ) 				AS EV_START_DT	 	/* 이벤트 시작기간 */
		,      IFNULL(EV_END_DT			    , '' ) 				AS EV_END_DT	    /* 이벤트 종료기간 */
		,      IFNULL(EV_TITLE       , '' ) 				    AS EV_TITLE     	/* 이벤트 제목	*/
		,      IFNULL(EV_CONTENT       , '' ) 				    AS EV_CONTENT     	/* 이벤트 내용	*/
		,      IFNULL(REG_DT       , '' ) 				    AS REG_DT     			/* 생성 시간 */
		FROM   DC_EVENT


		WHERE NOW() >= EV_START_DT
		AND NOW() >= EV_END_DT
		ORDER BY REG_DT DESC;
	</select>
</mapper>