<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.carssum.csdeal.commonutil.CarssumCommonUtilDao">


   <select id="selectCommonCodeList" parameterType="CarssumMap" resultType="CarssumCommonUtilDto" >
   
		SELECT
			   CODE_IDX                                                     /*코드 INDEX     	*/
		,      NVL(P_CODE 		    , ' ' ) 				AS P_CODE	 	/*부모코드        	*/
		,      NVL(CODE			    , ' ' ) 				AS CODE			/*코드명			*/
		,      NVL(CODE_VALUE       , ' ' ) 				AS CODE_VALUE	/*코드VALUE   	*/ 
		,      NVL(DESCRIPT	        , ' ' ) 				AS DESCRIPT     /*Description	*/	
		,      NVL(SORT       		, ' ' ) 				AS SORT        	/*정렬			*/
		,      NVL(ROOT_YN    		, ' ' ) 				AS ROOT_YN      /*최상위 여부	    */
		
		FROM   DC_COMMON_CODE
		WHERE  P_CODE = #{pCode, jdbcType=VARCHAR}
		ORDER  BY CODE_IDX ASC
		
		
   </select>
   
   <select id="selectCodeList" parameterType="CarssumCommonUtilDto" resultType="CarssumCommonUtilDto" >
   
		SELECT
			   CODE_IDX                                                 /*코드 INDEX     	*/
		,      NVL(RT_CODE 		    , '' ) 				AS RT_CODE	 	/*최상위코드        	*/
		,      NVL(P_CODE 		    , '' ) 				AS P_CODE	 	/*부모코드        	*/
		,      NVL(CODE			    , '' ) 				AS CODE			/*코드명			*/
		,      NVL(CODE_VALUE       , '' ) 				AS CODE_VALUE	/*코드VALUE   	*/ 
		,      NVL(DESCRIPT	        , '' ) 				AS DESCRIPT     /*Description	*/	
		,      NVL(SORT       		, '' ) 				AS SORT        	/*정렬			*/
		,      NVL(ROOT_YN    		, '' ) 				AS ROOT_YN      /*최상위 여부	    */
		FROM   DC_COMMON_CODE
		WHERE  P_CODE 	= #{pCode, jdbcType=VARCHAR}
		AND    RT_CODE 	= #{rtCode, jdbcType=VARCHAR}	
		ORDER  BY CODE_IDX ASC
		
   </select>
   
   
    
</mapper>
