<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohdocha.cu.kprojectcu.mapper.DochaCommonUtilDao">

	<select id="selectCommonCodeList" parameterType="DochaMap" resultType="DochaCommonUtilDto" >
   
		SELECT
			   CODE_IDX                                                     /*코드 INDEX     	*/
		,      IFNULL(P_CODE 		    , ' ' ) 				AS P_CODE	 	/*부모코드        	*/
		,      IFNULL(CODE			    , ' ' ) 				AS CODE			/*코드명			*/
		,      IFNULL(CODE_VALUE       , ' ' ) 				AS CODE_VALUE	/*코드VALUE   	*/
		,      IFNULL(DESCRIPT	        , ' ' ) 				AS DESCRIPT     /*Description	*/
		,      IFNULL(SORT       		, ' ' ) 				AS SORT        	/*정렬			*/
		,      IFNULL(ROOT_YN    		, ' ' ) 				AS ROOT_YN      /*최상위 여부	    */
		
		FROM   DC_COMMON_CODE
		WHERE  P_CODE = #{pCode, jdbcType=VARCHAR}
		ORDER  BY CODE_IDX ASC
		
		
   </select>

	<select id="selectCodeList" parameterType="DochaCommonUtilDto" resultType="DochaCommonUtilDto" >
   
		SELECT
			   CODE_IDX                                                 /*코드 INDEX     	*/
		,      IFNULL(RT_CODE 		    , '' ) 				AS RT_CODE	 	/*최상위코드        	*/
		,      IFNULL(P_CODE 		    , '' ) 				AS P_CODE	 	/*부모코드        	*/
		,      IFNULL(CODE			    , '' ) 				AS CODE			/*코드명			*/
		,      IFNULL(CODE_VALUE       , '' ) 				AS CODE_VALUE	/*코드VALUE   	*/
		,      IFNULL(DESCRIPT	        , '' ) 				AS DESCRIPT     /*Description	*/
		,      IFNULL(SORT       		, '' ) 				AS SORT        	/*정렬			*/
		,      IFNULL(ROOT_YN    		, '' ) 				AS ROOT_YN      /*최상위 여부	    */
		FROM   DC_COMMON_CODE
		WHERE  P_CODE 	= #{pCode, jdbcType=VARCHAR}
		AND    RT_CODE 	= #{rtCode, jdbcType=VARCHAR}	
		ORDER  BY CODE_IDX ASC
		
   </select>

	<select id="getMainImg" parameterType="DochaMap" resultType="DochaMainDto" >

		SELECT
			   MI_IDX                                                    	        /*  메인 이미지 IDX */
		,      IFNULL(MI_IMG_IDX 		    , '' ) 				AS MI_IMG_IDX	 	/* 이미지 */
		,      IFNULL(MI_START_DT 		    , '' ) 				AS MI_START_DT	 	/* 이미지 시작기간 */
		,      IFNULL(MI_END_DT			    , '' ) 				AS MI_END_DT	    /* 이미지 종료기간 */
		,      IFNULL(MI_TITLE       , '' ) 				    AS MI_TITLE     	/* 이미지 제목	*/
		FROM   DC_MAIN_IMG
		WHERE DATE_FORMAT(NOW(), '%Y-%m-%d') >= MI_START_DT
		AND  MI_END_DT >=  DATE_FORMAT(NOW(), '%Y-%m-%d')
	</select>

</mapper>
